{% extends "account_tmpl.html" %}
{% load i18n %}
{% block title %}{% trans "Invoice History" %}{% endblock %}

{% block content %}
<div class="saaskit-block">
  <h3>{% trans "Invoice History" %}</h3>
  <div class="saaskit-block-menu">
    {% include "subscription/subscription_submenu.html" %}    
	<div class="saaskit-block-content">
  {% if transaction_list %}
  <table border="0" id="tasktable" style="max-width:600px;">
     <thead>
     <tr>
       <td>{% trans "Invoice Date" %}</td>
       <td>{% trans "Receipt" %}</td>
       <td>{% trans "Amount" %}</td>
       <td>{% trans "Status" %}</td>
       <td>{% trans "Details" %}</td>
     </tr></thead>
     
     <tbody>
        {% for transaction in transaction_list %}
        <tr class="{% cycle row1,row2 %}">
          <td>{{ transaction.timestamp|date:_("DATETIME_FORMAT")}}</td>
          <td>{{ transaction.ipn }}</td>
          <td>${{ transaction.amount }}</td>
          <td>{{ transaction.ipn.payment_status }}</td>
          <td><a href="{% url invoice_detail transaction.pk %}">{% trans "Export as PDF" %}</a></td>
        </tr>
        {% endfor %}
     </tbody>
  </table>
  {% else %}
  <p>{% trans "You have no transactions yet." %}</p>
  {% endif %}
  </div>
  </div>
</div>
{% endblock %}

{% block sidebar %}

<div class="yui-b saaskit-sidebar">
  <div class="saaskit-block">
    <h3>{% trans 'Help' %}</h3>
    <p>{% blocktrans %}This sidebar block uses the exact same markup as the main body blocks. This lets you move them around easily - as they automatically resize to fit the available space.{% endblocktrans %}</p>
  </div>

  <div class="saaskit-notice">
    <h4>{% trans 'Notice Title' %}</h4>
    <p>{% blocktrans %}Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac aliquam blandit, lectus eros hendrerit eros, at 
	   eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut  
	   felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. 
	   Aenean tempor venenatis dolor.
	   {% endblocktrans %}</p>
  </div>
</div>

{% endblock %}