{% extends "account_tmpl.html" %}
{% load i18n %}
{% block title %}{% trans "Invoice History" %}{% endblock %}

{% block content %}
  <h2>{% trans "Invoice History" %}</h2>
  {% if transaction_list %}
  <table border="0" id="tasktable" style="max-width:600px;">
     <thead>
     <tr>
       <td>{% trans "Invoice Date" %}</td>
       <td>{% trans "Receipt" %}</td>
       <td>{% trans "Amount" %}</td>
       <td>{% trans "Status" %}</td>
       <td>{% trans "Details" %}</td>
     </tr></thead>
     
     <tbody>
        {% for transaction in transaction_list %}
        <tr class="{% cycle row1,row2 %}">
          <td>{{ transaction.timestamp|date:_("DATETIME_FORMAT")}}</td>
          <td>{{ transaction.ipn }}</td>
          <td>${{ transaction.amount }}</td>
          <td>{{ transaction.ipn.payment_status }}</td>
          <td><a href="{% url invoice_detail transaction.pk %}">{% trans "Export as PDF" %}</a></td>
        </tr>
        {% endfor %}
     </tbody>
  </table>
  {% else %}
  <p>{% trans "You have no transactions yet." %}</p>
  {% endif %}
{% endblock %}
