{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans 'Payment' %}{% endblock %} 

{% block content %}
<form class="uniForm" enctype="multipart/form-data" action="" method="post">
    <fieldset class="inlineLabels">
      <div align="center"><a href="?express">{% trans "Pay by PayPal" %}</a></div>
      {{ form|as_uni_form }}
      <div class="submit form_block buttonHolder">
        <input type="submit" value="{% trans 'pay' %}" />
      </div>
    </fieldset>
</form>
{% endblock %}
