{% load i18n paypal_buttons %}
<div class="block">
  {% with request.user.subscription as us %}
  {% if us %}
    <p class="text-center">{% trans "Current Plan" %}: {{ us.subscription }}</p>
    <p class="text-center">{% trans "Expires" %}: {{ us.expires|date:_("DATE_FORMAT") }}</p>
    <p class="text-center">{% trans "Paypal will get money from your account itself. Or you may do it manually in your paypal account." %}</p>
  {% else %}
  <p class="text-center">{% trans "Each month of service for less than the cost of a pizza :) Upgrade or downgrade whenever you like." %}</p>
  {% endif %}
  <table frame="box" class="plans" align="center">
      <tr>
        {% for subscription in object_list %}
        <td {% ifequal us.subscription subscription %}
            class="{% if us.active %}current{% else %}unsubscribed{% endif %}"
            {% endifequal %}>
          <h2 class="text-center">{% trans subscription.name noop %}</h2>
          <p class="text-center">{% trans 'Price (USD)' %} : {{ subscription.get_pricing_display }}</p>
          <p class="text-center">{% trans 'Trial Period' %} : {{ subscription.get_trial_display }}</p>
          <ul class="plans">
            {{ subscription.description|safe }}
          </ul>
          <p class="text-center">{% trans "Recurrence" %}: {{ subscription.get_recurrence_display }}</p>
          <p class="text-center">
          {% if user.is_authenticated %}
            {% paypal_shortcut user subscription %}
          {% else %}
            <b><a href="{% url subscription_detail subscription.pk %}">{% trans "Signup" %}</a></b>
          {% endif %}
          </p>
        </td>
        {% endfor %}
      </tr>
  </table>
  {% if us %}
  <p class="text-right"><a href="{% url invoice_listing %}">{% trans "View history" %}</a></p>
  {% endif %}
  
  {% endwith %}
</div>
