{% load i18n %}
<div class="block">
  <p class="text-center">Each month of service for less than the cost of a pizza :) Upgrade or downgrade whenever you like.</p>
  <table frame="box" class="plans" align="center">
    {% with request.user.subscription as us %}
      <tr>
        {% for subscription in object_list %}
        <td {% ifequal us.subscription subscription %}
            class="{% if us.active %}current{% else %}unsubscribed{% endif %}"
            {% endifequal %}>
          <h2 class="text-center">{{subscription.name}}</h2>
          <p class="text-center">{{subscription.get_pricing_display}}</p>
          <p class="text-center">trial: {{subscription.get_trial_display}}</p>
          <ul class="plans">
            {{ subscription.description }}
          </ul>
          
          {% ifnotequal us.subscription subscription %}
            <p class="text-center">
              <a href="{{subscription.get_absolute_url}}">
                {% if user.is_authenticated %}
                upgrade/degrade &raquo;
                {% else %}
                choose &raquo;
                {% endif %}
                </a>
            </p>
          {% else %}
            {% comment %}
            <p class="text-center"><a href="{% url unsubscribe_or_reanimate %}">
              {% if us.active %}
                {% trans 'Unsubscribe' %}
              {% else %}
                {% trans 'reanimate' %}
              {% endif %}
            </a></p>
            {% endcomment %}
          {% endifnotequal %}
        </td>
        {% endfor %}
      </tr>
    {% endwith %}
  </table>
</div>
