{% load i18n paypal_buttons %}
<div class="block">
  <p class="text-center">Each month of service for less than the cost of a pizza :) Upgrade or downgrade whenever you like.</p>
  <table frame="box" class="plans" align="center">
    {% with request.user.subscription as us %}
      <tr>
        {% for subscription in object_list %}
        <td {% ifequal us.subscription subscription %}
            class="{% if us.active %}current{% else %}unsubscribed{% endif %}"
            {% endifequal %}>
          <h2 class="text-center">{{subscription.name}}</h2>
          <p class="text-center">{{subscription.get_pricing_display}}</p>
          <p class="text-center">trial: {{subscription.get_trial_display}}</p>
          <ul class="plans">
            {{ subscription.description }}
          </ul>
          <p class="text-center">
          {% if user.is_authenticated %}
            {% paypal_shortcut user subscription %}
          {% else %}
            <a href="{% url subscription_detail subscription.pk %}">{% trans "Choose" %}</a>
          {% endif %}
          </p>
        </td>
        {% endfor %}
      </tr>
    {% endwith %}
  </table>
</div>
