{% extends "account_tmpl.html" %}
{% load i18n %}
{% block head %}
<META http-equiv="refresh" content="5;URL={% url frontendadmin_add app_label='muaccounts',model_name='muaccount' %}">
{% endblock %}

{% block title %}{% trans "Subscription confirmed." %}{% endblock %} 
{% block body %}
<p>{% trans "Subscription process OK, should be processed in a second." %}</p>
<div>
{% url frontendadmin_add app_label='muaccounts',model_name='muaccount' as mua_create_url %}
{% blocktrans %}
<p><a href="{{ mua_create_url }}">Go here</a> and create your own muaccounts.</p>
<p>You will be redirected thither automatically in 5 seconds.</p>
<p>If you was not redirected click <a href="{{ mua_create_url }}">this link</a></p>
{% endblocktrans %}
<div>
{% endblock %}
