{% extends "manage_site_tmpl.html" %}
{% load i18n pagination_tags uni_form_tags %}


{% block head_title %}{{block.super}} : {% trans "Manage site" %} : {% trans "Members" %} : {% trans "Import contacts" %} {% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Import contacts" %}</h3>
    <div class="saaskit-content">
	    <p> 
		<a href="{% url muaccounts_member_list %}">{% trans "Current members" %}</a> | 
        <a href ="{% url muaccounts_add_member %}">{% trans "Invite new" %}</a> |
        <a href ="{% url muaccounts_manage_advanced %}">{% trans "Manage invitations" %}</a> |
        <a href ="{% url invitations_contacts %}">{% trans "Import contacts" %}</a> |
        <a href ="{% url muaccounts_manage_styles %}">{% trans "Manage contacts" %}</a>
		</p>
        <hr/>
    
    {% for import_form in import_forms %}
    <h2>{{ import_form.title }}</h2>
    <form class="uniForm" enctype="multipart/form-data" method="post" action="">
        <input type="hidden" name="action" value="{{ import_form.action }}" />
        <fieldset class="inlineLabels">
            {{ import_form.form|as_uni_form }}
            <div class="submit form_block buttonHolder">
                <input type="submit" value="{% trans 'upload' %}" />
            </div>
        </fieldset>
    </form>
    {% endfor %}
    
    {% for import_service in import_services %}
    <h2>{{ import_service.title }}</h2>
    {% if import_service.token %}
        <form class="uniForm" method="POST" action="">
          <input type="hidden" name="action" value="{{ import_service.action }}" />
          <fieldset>
            <div class="submit form_block buttonHolder">
                <input type="submit" value="{% trans 'import' %}" />
            </div>
          </fieldset>
        </form>
    {% else %}
        <p>
            {% blocktrans with import_service.auth_url as auth_url %}
            This will be a two step process. First you must
            <a href="{{ auth_url }}">authenticate</a>.
            Once you have agreed to let us have access to your address book, you will be taken back here and
            an "import" button will appear here.
            {% endblocktrans %}
        </p>
    {% endif %}
    {% endfor %}
    
    <h2>{% trans "Contacts" %}</h2>
    
    {% with user.contacts.all as contacts %}
        
        {% autopaginate contacts %}
        
        {% if contacts %}
            <table class="contact_list">
                {% for contact in contacts %}
                    <tr>
                        <td>{% if contact.name %}{{ contact.name }}{% else %}?{% endif %}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            {% for other_user in contact.users.all %}
                                <a href="">{{ other_user }}</a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            
            {% paginate %}
            
        {% else %}
            <p>{% trans "No contacts." %}</p>
        {% endif %}
    {% endwith %}
    
{% endblock %}
