{% extends "muaccounts/muaccounts_base.html" %}
{% load i18n pagination_tags uni_form_tags %}

{% block head_title %}{{block.super}}{% trans "Manage site" %} : {% trans "Members" %} : {% trans "Import contacts" %} {% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Import contacts" %}</h3>
    <div class="saaskit-block-menu">
    {% include "friends/members_menu.html" %}    
	<div class="saaskit-block-content">
    {% for import_form in import_forms %}
    <h4>{{ import_form.title }}</h4>
    <form class="uniForm" enctype="multipart/form-data" method="post" action="">
        <input type="hidden" name="action" value="{{ import_form.action }}" />
        <fieldset class="inlineLabels">
            {{ import_form.form|as_uni_form }}
        </fieldset>
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt={% trans "Import" %} />{% trans "Import" %}
		  </button>
    </form>
    {% endfor %}
    
    {% for import_service in import_services %}
    <h5>{{ import_service.title }}</h5>
    {% if import_service.token %}
        <form class="uniForm" method="POST" action="">
          <input type="hidden" name="action" value="{{ import_service.action }}" />
          <fieldset>
          </fieldset>
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt={% trans "Import" %} />{% trans "Import" %}
		  </button>
        </form>
    {% else %}
        <p>
            {% blocktrans with import_service.auth_url as auth_url %}
            This will be a two step process. First you must
            <a href="{{ auth_url }}">authenticate</a>.
            Once you have agreed to let us have access to your address book, you will be taken back here and
            an "import" button will appear here.
            {% endblocktrans %}
        </p>
    {% endif %}
    {% endfor %}
	</div>

    </div>    
</div>
    
{% endblock %}

{% block sidebar %}

<div class="yui-b saaskit-sidebar">
  <div class="saaskit-block">
    <h3>{% trans 'Help' %}</h3>
    <p>{% blocktrans %}This sidebar block uses the exact same markup as the main body blocks. This lets you move them around easily - as they automatically resize to fit the available space.{% endblocktrans %}</p>
  </div>

  <div class="saaskit-notice">
    <h4>{% trans 'Notice Title' %}</h4>
    <p>{% blocktrans %}Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac aliquam blandit, lectus eros hendrerit eros, at 
	   eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut  
	   felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. 
	   Aenean tempor venenatis dolor.
	   {% endblocktrans %}</p>
  </div>
</div>

{% endblock %}

