{% extends "manage_site_tmpl.html" %}
{% load i18n pagination_tags uni_form_tags %}


{% block head_title %}{{block.super}} : {% trans "Manage site" %} : {% trans "Members" %} : {% trans "Import contacts" %} {% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Import contacts" %}</h3>
    <div class="saaskit-content">
	    <p> 
		<a href="{% url muaccounts_member_list %}">{% trans "Current members" %}</a> | 
        <a href ="{% url muaccounts_add_member %}">{% trans "Invite new" %}</a> |
        <a href ="{% url muaccounts_manage_advanced %}">{% trans "Manage invitations" %}</a> |
        <a href ="{% url invitations_contacts %}">{% trans "Import contacts" %}</a> |
        <a href ="{% url manage_contacts %}">{% trans "Manage contacts" %}</a>
		</p>
        <hr/>
    {% for import_form in import_forms %}
    <h4>{{ import_form.title }}</h4>
    <form class="uniForm" enctype="multipart/form-data" method="post" action="">
        <input type="hidden" name="action" value="{{ import_form.action }}" />
        <fieldset class="inlineLabels">
            {{ import_form.form|as_uni_form }}
        </fieldset>
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt={% trans "Import" %} />{% trans "Import" %}
		  </button>
    </form>
    {% endfor %}
    
    {% for import_service in import_services %}
    <h5>{{ import_service.title }}</h5>
    {% if import_service.token %}
        <form class="uniForm" method="POST" action="">
          <input type="hidden" name="action" value="{{ import_service.action }}" />
          <fieldset>
          </fieldset>
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt={% trans "Import" %} />{% trans "Import" %}
		  </button>
        </form>
    {% else %}
        <p>
            {% blocktrans with import_service.auth_url as auth_url %}
            This will be a two step process. First you must
            <a href="{{ auth_url }}">authenticate</a>.
            Once you have agreed to let us have access to your address book, you will be taken back here and
            an "import" button will appear here.
            {% endblocktrans %}
        </p>
    {% endif %}
    {% endfor %}

    </div>    
</div>
    
{% endblock %}
