{% extends "muaccounts/manage/base.html" %}

{% load i18n %}

{% block title %}{% trans "Invite someone new to join" %}{% endblock %}

{% block content %}

   <h2>{% trans "Invite someone new to join" %}</h2>

   <p>{% trans "If you'd like to invite someone to join your site, you can enter their email address and a message for them below:" %}</p>
   <p>You may <a href="{% url invitations_contacts %}">{% trans "import your contacts" %}</a>.

   {% include "friends/invite_form.html" %}

{% endblock %}
