{% load i18n uni_form_tags %}

<form class="uniForm" method="POST" action="{% url muaccounts_add_member %}">
    <fieldset class="inlineLabels">
        {{ join_request_form|as_uni_form }}
		<div class="buttonHolder">
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt={% trans "Invite" %} />{% trans "Invite" %}
		  </button>        
	      <button class="button" type="reset">
	        <img src="{{ MEDIA_URL }}saaskit/img/icons/cross.png" alt={% trans "Cancel" %} />{% trans "Cancel" %}
     	  </button>
    	  <div class="clear"></div>
    	</div>
    </fieldset>
</form>
