{% extends "manage_site_tmpl.html" %}
{% load i18n %}

{% block head_title %}{{block.super}} : {% trans "Manage site" %} : {% trans "Members" %} : {% trans "Invite new" %}{% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Invite someone new to join" %}</h3>
    <div class="saaskit-content">
	    <p> 
			<a href="{% url muaccounts_member_list %}">{% trans "Current members" %}</a> | 
	        <a href ="{% url muaccounts_add_member %}">{% trans "Invite new" %}</a> |
	        <a href ="{% url muaccounts_manage_advanced %}">{% trans "Manage invitations" %}</a> |
	        <a href ="{% url invitations_contacts %}">{% trans "Import contacts" %}</a> |
	        <a href ="{% url muaccounts_manage_styles %}">{% trans "Manage contacts" %}</a>
		</p>
        <hr/>
        {% trans "If you'd like to invite someone to join your site, you can enter their email address and a message for them below or you may" %} <a href="{% url invitations_contacts %}">{% trans "import your contacts" %}</a>.
    
        {% include "friends/invite_form.html" %}
    </div>
</div>
{% endblock %}