{% extends "user_site_tmpl.html" %}
{% load smartif settings i18n %}
{% block title %}{% trans "Manage your site" %}{% endblock %} 
{% block content %}
<h2>{% trans "Members" %}</h2>
  <table>
   {% for member in member_list %}
     <tr class="{% cycle 'row1' 'row2' %}">
         <td>{{ member }}</td>
         <td>{{ member.date_joined|date }}</td>
         <td>
             <form class="inline-form" method="POST" action="{% url muaccounts_remove_member user_id=member.id %}">
                 <p><input type="submit" value="remove user"></p></form>
         </td>
     </tr>
   {% endfor %}
  </table>
  
  <h2>{% trans "Invitations Sent" %}</h2>
  {% if invitations_sent %}
      <table class="invitation_list">
          {% for invitation in invitations_sent %}
              <tr>
                  <td>{{ invitation.contact.email }}</td>
                  <td>{{ invitation.sent|date:_("DATE_FORMAT") }}</td>
                  <td class="invitation_{{ invitation.status }}">{{ invitation.get_status_display }}</td>
                  <td>
                      {% for other_user in invitation.contact.users.all %}
                          {{ other_user }}
                      {% endfor %}
                  </td>
              </tr>
          {% endfor %}
      </table>
  {% else %}
      <p>{% trans "No invitations sent." %}</p>
  {% endif %}
  
  <h2>{% trans "Invitation Requests Received" %}</h2>
  {% if joins_received %}
      <table class="invitation_list">
          {% for join_request in joins_received %}
              <tr>
                  <td>{{ join_request.email }}</td>
                  <td>{{ join_request.created|date:_("DATETIME_FORMAT") }}</td>
                  <td>{{ join_request.notes|safe }}</td>
                  <td>{{ join_request.get_state_display }}</td>
                  <td>
                    {% ifequal join_request.state join_request.STATE_INIT %}
                      <a href="{% url proceed_invitation_request email=join_request.email,state='invite' %}">{% trans 'Invite' %}</a>
                      | <a href="{% url proceed_invitation_request email=join_request.email,state='reject' %}">{% trans 'Reject' %}</a>
                    {% endifequal %}
                  </td>
              </tr>
          {% endfor %}
      </table>
  {% else %}
      <p>{% trans "No join requests sent." %}</p>
  {% endif %}
    
  {% with member_list|length as member_count %}
     {% if member_count < user.quotas.muaccount_members %}
         <p>
          <a href="{% url muaccounts_add_member %}" rel="facebox">{% trans "Invite someone new to join" %}</a>
          | <a href="{% url invitations_contacts %}">{% trans "Your contacts" %}</a>
         </p>
     {% else %}
     <p><a href="{% url subscription_list %}">{% trans "Upgrade your plan" %}</a> {% trans "to add more users" %}!</p>
     {% endif %}
  {% endwith %}
{% endblock %}









