{% extends "muaccounts/muaccounts_base.html" %}
{% load i18n pagination_tags %}

{% block head_title %}{{block.super}} : {% trans "Manage site" %} : {% trans "Members" %} : {% trans "Current members" %} {% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Members" %} : {% trans "Current members" %}</h3>
    <div class="saaskit-block-menu">
    {% include "friends/members_menu.html" %}    
	<div class="saaskit-block-content">
     <table>
     <thead>
       <tr>
         <td>Username</td>
         <td><a href="#">Member Since</a></td>
         <td>&nbsp;</td>
       </tr>
     </thead>
     <tbody>
	   {% for member in member_list %}
	     <tr class="{% cycle 'row1' 'row2' %}">
	         <td>{{ member }}</td>
	         <td>{{ member.date_joined|date }}</td>
	         <td>
	             <form class="inline-form" method="POST" action="{% url muaccounts_remove_member user_id=member.id %}">
	             <input type="submit" value="remove user"></form>
	         </td>
	     </tr>
	   {% endfor %}
     </tbody>
	</table>
 
 <ul class="saaskit-pager">
   <li class="saaskit-pager-active">
     {% paginate %}
   <li>
  </ul>
    <div class="clear"></div>
	</div>
</div>
</div>
{% endblock %}









