{% load i18n %}
{% if current %}
  {% if not current.active %}
    <p><strong>{% trans "You have cancelled subscription to this plan." %}</strong>
    {% trans "You may still resubscribe if you wish!" %}</p>
    {% if test %}
      {{ form.sandbox }}
    {% else %}
      {{ form.render }}
    {% endif %}
  {% else %}
    <p>{% blocktrans %}
      <strong>You are subscribed to this plan.</strong>
      You may <a href="{{ cancel_url }}" > <img src="{{ image_url }}"></a> if you
      wish.
    {% endblocktrans %}</p>
  {% endif %}
{% else %}
  {% if change_denied_reasons %}
    <p><strong>{% trans "You cannot switch to this plan." %}</strong> {% trans "Reasons" %}:
    <ul>
    {% for reason in change_denied_reasons %}
      <li>{{ reason }}</li>
    {% endfor %}
    </ul>
  {% else %}
    {% if not subscription.preparation_required %}
      {% if test %}
        {{ form.sandbox }}
      {% else %}
        {{ form.render }}
      {% endif %}
    {% else %}
    <a href="{% url contact_form %}">{% trans "Contact us"%}</a>
    {% endif %}
  {% endif %}

{% endif %}
