{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags muaccounts_tags settings %}


{% block content %}
    <h3>{% trans "Dashboard" %}</h3>
  <p> 
	<a href="{% url account_dashboard %}">{% trans "Messages" %}</a> | 
   <a href="{% url muaccounts_listing %}">{% trans "My Sites" %}</a> |
	</p>
  <hr/>
    <p>{# <a href="{% url notification_mark_all_seen %}">mark all seen</a> | #}
    <a href="{% url notification_feed_for_user %}">{% trans "RSS" %}</a></p>

    <ul>{% for notice in notices %}
        <li{% if notice.is_unseen %} style="font-weight:bold;"{% endif %}>
            <em title="{{notice.notice_type.description}}">{{notice.notice_type.display}}</em>
            &mdash; {{notice.message|safe}}
            <a href="{{notice.get_absolute_url}}">#</a></li>
        {% endfor %}
    </ul>    
{% endblock %}

{% block sidebar %}

<div class="yui-b saaskit-sidebar">
  {% sites_owned request.user as sites_owned %}
  {% if sites_owned|length %}
  <div class="saaskit-block"> 
    <h3>{% trans "Sites you own" %}</h3>
      <ul>
        {% for site in sites_owned %}
          <li><a href="{% url sso %}?next={{ site.get_absolute_url }}">{{ site }}</a></li>
        {% endfor %}
      </ul>
  </div>
  {% endif %}

  {% member_of request.user as member_of %}
  {% if member_of|length %}
  <div class="saaskit-block">
    <h3>{% trans "Sites you are member of" %}</h3>
      <ul>
        {% for site in member_of  %}
          <li><a href="{% url sso %}?next={{ site.get_absolute_url }}">{{ site }}</a></li>
        {% endfor %}
      </ul>
  </div>
  {% endif %}

  {% with request.user.get_profile as profile %}
  {% if profile %}
  <div class="saaskit-block">
  <h3>{% trans "About You" %}</h3>
    {% if user.email %}
      <ul>
      <li>{{user.email}}</li>
      {% endif %}
        {% include "profiles/profile_detail.html" %}
      </ul>
  </div>
  {% endif %}
  {% endwith %}
</div>

{% endblock %}