{% load compressed %}
{% load class_if_reverse %}
{% load settings %}
{% load thumbnail %}
{% load muathemes %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    {% compressed_css request.muaccount.theme.color_scheme %}
    {% block head %}
    {% endblock %}
 </head>
  <body class="{% theme rounded_corners %}">
    <div id="{% theme page_width %}" class="{% theme layout %}">
      <div id="hd">
        {% if request.muaccount.logo %}
        <img src="{% thumbnail request.muaccount.logo 128x64 %}" id="site-logo">
        {% endif %}
        {% if user.is_authenticated %}
        <div id="logged-in-user">
          Logged in: <a href="{% url sso %}?next={% setting MUACCOUNTS_DEFAULT_URL %}">{{user}}</a>
        </div>
        {% endif %}
        <h1><a href="/">{{request.muaccount}}</a></h1>
        <div id="navigation" style="clear:both;">
          <ul id="primary-navigation">
            <li{% class_if_reverse / active %}><a href="/">Main</a></li>
          </ul>

          <ul id="user-navigation">
            {% if user.is_authenticated %}
            {% ifequal user request.muaccount.owner %}
            <li><a href="{% url pipeadmin_manage_pipes %}">manage pipes</a></li>
            <li><a href="{% url muaccounts_account_detail %}">manage site</a></li>
            {% endifequal %}
           <li><a href="{% url user_signout %}">logout</a></li>
            {% else %}
            <li><a href="{% url user_signin %}">log in or sign up</a></li>
            {% endif %}
          </ul>
       </div>
     </div>

      <div id="bd">
        <div id="yui-main"><div class="yui-b"><div class="yui-g">
              {% block body %} Body {% endblock %}
        </div></div></div>

        <div id="sidebar" class="yui-b">
          <div class="block">
            <div class="hd"><h2>Available pipes</h2></div><div class="bd">
              <ul class="list">
                {% for pipe in request.muaccount.owner.managedpipe_set.all %}<li>
                  {% if pipe.is_dynamic %}
                  {{pipe}} {{pipe.render_form}}
                  {% else %}
                  <a href="{{pipe.get_absolute_url}}">{{pipe}}</a>
                  {% endif %}
                </li>{% endfor %}</ul>
            </div>
          </div>
      </div>

        <div id="ft"><div id="yui-main">
            <p><a href="{% setting MUACCOUNTS_DEFAULT_URL %}">main page</a></p>
        </div></div>

    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
