#Eclipse's specific
.project
.pydevproject
.pydevproject.bak
wurfl.xml

#buildout's specific
.installed.cfg
eggs/*
bin/*
develop-eggs/*
parts/*
downloads/*

#egg's specific
*.egg-info

#defaults
*.pyc
*.pyo

#coverage report
src/test_a_khavr/coverage_report/*

#sqlite3 db
saaskit.db

#temp file
tempfile
src/saaskit/local_settings.py
#media
src/saaskit/site_media/*

.svn
