[submodule "upstream/django-subscription"]
	path = upstream/django-subscription
	url = git://github.com/CrowdSense/django-subscription.git
[submodule "upstream/django-muaccounts"]
	path = upstream/django-muaccounts
	url = git://github.com/CrowdSense/django-muaccounts.git
[submodule "upstream/django-paypal"]
	path = upstream/django-paypal
	url = git://github.com/johnboxall/django-paypal.git
[submodule "upstream/django-registration"]
	path = upstream/django-registration
	url = git://github.com/bretthoerner/django-registration.git
[submodule "upstream/django-prepaid"]
	path = upstream/django-prepaid
	url = git://github.com/CrowdSense/django-prepaid.git
[submodule "upstream/django-notification"]
	path = upstream/django-notification
	url = git://github.com/jtauber/django-notification.git
[submodule "upstream/django-mailer"]
	path = upstream/django-mailer
	url = git://github.com/jtauber/django-mailer.git
[submodule "upstream/django-faq"]
	path = upstream/django-faq
	url = git://github.com/howiworkdaily/django-faq.git
