[submodule "upstream/django-notification"]
	path = upstream/django-notification
	url = git://github.com/jtauber/django-notification.git
[submodule "upstream/django-mailer"]
	path = upstream/django-mailer
	url = git://github.com/jtauber/django-mailer.git
[submodule "upstream/django-pipes"]
	path = upstream/django-pipes
	url = git://github.com/mallipeddi/django-pipes.git
[submodule "upstream/django-debug-toolbar"]
	path = upstream/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "upstream/django-compress"]
	path = upstream/django-compress
	url = git://github.com/pelme/django-compress.git
[submodule "upstream/django-extensions"]
	path = upstream/django-extensions
	url = git://github.com/django-extensions/django-extensions.git
[submodule "upstream/django-filter"]
	path = upstream/django-filter
	url = git://github.com/alex/django-filter.git
[submodule "upstream/django-ab"]
	path = upstream/django-ab
	url = git://github.com/johnboxall/django-ab.git
[submodule "upstream/django-perfect404"]
	path = upstream/django-perfect404
	url = git://github.com/svetlyak40wt/django-perfect404.git
[submodule "upstream/yui-app-theme"]
	path = upstream/yui-app-theme
	url = git://github.com/tylerhall/yui-app-theme.git
[submodule "upstream/django-oembed"]
	path = upstream/django-oembed
	url = git://github.com/ericflo/django-oembed.git
[submodule "upstream/django-templatesadmin"]
	path = upstream/django-templatesadmin
	url = git://github.com/bartTC/django-templatesadmin.git
[submodule "upstream/django-paypal"]
	path = upstream/django-paypal
	url = git://github.com/johnboxall/django-paypal.git
[submodule "upstream/django-quotas"]
	path = upstream/django-quotas
	url = git://github.com/mpasternacki/django-quotas.git
[submodule "upstream/django-muaccounts"]
	path = upstream/django-muaccounts
	url = git://github.com/CrowdSense/django-muaccounts.git
[submodule "upstream/django-prepaid"]
	path = upstream/django-prepaid
	url = git://github.com/CrowdSense/django-prepaid.git
[submodule "upstream/django-subscription"]
	path = upstream/django-subscription
	url = git://github.com/CrowdSense/django-subscription.git
[submodule "upstream/django-uni-form"]
	path = upstream/django-uni-form
	url = git://github.com/pydanny/django-uni-form.git
