{% extends "main.html" %}
{% block title %}Manage your site{% endblock %} 
{% load i18n %}
{% block body %}
  <div class="block">
    <div class="bd">
      <h2>{{ title }}</h2>
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
      <div class="bd">
         <h2><a href="{% url muaccounts_manage_general %}">General Settings</a></h2>
         <h2><a href="{% url muaccounts_manage_styles %}">Colors & Styles</a></h2>
         <h2><a href="{% url muaccounts_member_list %}">Users</a></h2>
         <h2><a href="{% url muaccounts_manage_advanced %}">Advanced Settings</a></h2>
         <h2><a href="{% url app_settings %}">Applications Settings</a></h2> 
      </div>
    </div>
{% endblock %}
