{% extends "main.html" %}
{% block title %}Manage your site{% endblock %} 
{% block body %}
  <div class="block">
    <div class="bd">
     <h2>Application Settings</h2>
     <h4>This will be a place holder to allow application specific settings </h4>
</div></div>
{% endblock %}
{% block sidebar %}

  <div class="block">
      <div class="bd">
         <h2><a href="/extend/general">General Settings</a></h2>
         <h2><a href="/extend/themes">Colors & Styles</a></h2>
         <h2><a href="/extend/users">Users</a></h2>
         <h2><a href="/extend/advanced">Advanced Settings</a></h2>
         <h2><a href="/extend/apps">Applications Settings</a></h2> 
      </div>
    </div>
 
  
{% endblock %}






