{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block head_title %}{{block.super}} : {% trans "Create profile" %}{% endblock %} 

{% block content %}

  <h3>{% trans "Create profile" %}</h3>
      <form action="" method="POST" class="uniForm">
        <fieldset class="inlineLabels">
        <legend>* {% trans "Required fields" %}</legend> 	
          {{form|as_uni_form}}				
        </fieldset>
          <input type="submit" value="{% trans 'Create profile' %}" />
      </form>
      <a href="{{user.get_profile.get_absolute_url}}">{% trans "See your profile" %}</a>
{% endblock %}

