{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block head_title %}{{block.super}} : {% trans "Create profile" %}{% endblock %} 

{% block content %}
<div class="saaskit-block">
  <h3>{% trans "Create profile" %}</h3>
    <div class="saaskit-block-menu">
      <p> 
	    <a href="{% url profiles_edit_profile %}">{% trans "Manage Profile" %}</a> | 
        <a href ="{% url auth_password_change %}">{% trans "Passwords" %}</a> |
	  </p>
    <div class="saaskit-block-content">
      <form action="" method="POST" class="uniForm">
        <fieldset class="inlineLabels">
        <legend>* {% trans "Required fields" %}</legend> 
          {{form|as_uni_form}}				
        </fieldset>
		<div class="buttonHolder">
		  <button class="button" type="submit">
		    <img src="{{ MEDIA_URL }}saaskit/img/icons/tick.png" alt="Save" />{% trans "Save" %}
		  </button>        
	      <button class="button" type="reset">
	        <img src="{{ MEDIA_URL }}saaskit/img/icons/cross.png" alt="Cancel"/>{% trans "Cancel" %}
     	  </button>
    	  <div class="clear"></div>
    	</div>
      </form>
    </div>
</div>
</div>
{% endblock %}