{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block head_title %}{{block.super}} : {% trans "Edit profile" %}{% endblock %}

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Edit profile" %}</h3>
    <div class="saaskit-content">
      <form action="" method="POST" class="uniForm">
        <fieldset class="inlineLabels">
          {{form|as_uni_form}}
          <div class="buttonHolder">
            <input type="submit" value="{% trans 'Update profile' %}" />
          </div>
        </fieldset>
      </form>
      <a href="{{user.get_profile.get_absolute_url}}">{% trans "See your profile" %}</a>
    </div>
</div>
{% endblock %}

