{% extends "account/base.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans "Edit profile" %}{% endblock %} 
{% block content %}
<h2>{% trans "Edit your profile" %}</h2>
<form action="" method="POST" class="uniForm">
 <fieldset class="inlineLabels">
  {{form|as_uni_form}}
  <div class="buttonHolder">
    <input type="submit" value="{% trans 'Update profile' %}" />
  </div>
 </fieldset>
</form>
<a href="{{user.get_profile.get_absolute_url}}">{% trans "See your profile" %}</a>
{% endblock %}

