{% extends "main.html" %}
{% load uni_form %}
{% load settings %}

{% block title %}Account detail{% endblock %} 
{% block body %}
<div class="block">
  <div class="hd"><h2>Your plan</h2></div><div class="bd">
    Your current plan is
    <em>{{user.get_subscription|default:"Free plan"}}</em>.
    {% comment %}FIXME: hardcoded URL{% endcomment %}
    <a href="{% setting MUACCOUNTS_DEFAULT_URL %}sub/">Upgrade your plan</a>
    to get access to more features!.
  </div>
</div>
<div class="yui-u first">
  <div class="block">
    <div class="hd"><h2>Settings</h2></div><div class="bd">
      <form action="" method="POST" enctype="multipart/form-data" class="uniForm">
        {{ form|as_uni_form }}
        <input type="submit" value="OK">
      </form>
</div></div></div>
<div class="yui-u">
  <div class="block">
    <div class="hd"><h2>Members</h2></div><div class="bd">
      <ul class="list">{% for member in object.members.all %}
        <li>{{ member }}</li>
      {% endfor %}</ul>
      <h3>Add user</h3>
      <form action="" method="POST" class="uniForm">
        {{add_user_form|as_uni_form}}
        <input type="submit" value="Add user">
      </form>
  </div></div>
</div>
{% endblock %}
