{% extends "base_tmpl.html" %}
{% load i18n %}
{% block class %}yui-t7{% endblock %}
{% block type %}saaskit-landing-main{% endblock %}

{% block head_title %}{{ block.super }} : {% trans "Toolkit for building subscription based web application Fast!" %}{% endblock %}

{% block landing_main %}
  <div class="saaskit-landing-main" style="margin-left:8%;">
	<h4 style="font-size:16px; font-weight:800;">{% trans "Toolkit for building subscription based web applications" %} <em>{% trans "Fast!" %}</em></h4>
    <p style="font-size:15px;">{% trans "Features includes.." %}</p>
      <ul style="margin-left:2em;">
        <li>{% trans "3rd Party API" %}</li>
        <li>{% trans "OpenID" %}</li>
        <li>{% trans "Contacts Import" %}</li>
        <li>{% trans "Mobile access" %}</li>
        <li>{% trans "Multilingual" %}</li>
        <li>{% trans "EC2 Deployment" %}</li>
        <li>{% trans "Built-in App API" %}</li>
        <li>{% trans "Google Adsense" %}</li>
        <li>{% trans "Paypal" %}</li>
        <li>{% trans "Custom Themes" %}</li>
        <li>{% trans "Google Analytics" %}</li>
        <li>{% trans "and more ..." %}</li>
      </ul>
    <div class="plans">
	  <center><a href="/subscription/plans">{% trans "See Plans & Pricing" %}<p>{% trans "21 day free trial, sign-up in 3 minutes!" %}</a></p></center>
    </div>

    <div class="tour"><center><a href="/pages/take-the-saas-kit-service-tour/">{% trans "Take a Tour" %}</a></center>
    </div>

    <div class="saaskit-landing-img">
    	<img src="{{ MEDIA_URL }}saaskit/img/screenshot.png" alt="Subscription App Screenshot" width="720" height="480" align="" style="margin-left:5em;">
    </div>

  </div>
{% endblock %}
 

{% block extra_content %}
<div id="bd" class="saaskit-landing-extra">
  <div class="benefits_list" style="margin-left:15%;">

    <div class="benefit" style="float:left">
      <h5><img src="{{ MEDIA_URL }}saaskit/img/icons/chart_pie_add.png" alt="Business Models" width="16" height="16">
	  &nbsp;{% trans "Prepaid or Recurring" %}</h5>
      <p>Supports your choice of recurring billing period as well as prepaid and page view based billing. Supports trail subscription, discounts, user points system and cash withdrawal." %}</p>
    </div>

    <div class="benefit" style="float:left">
      <h5><img src="{{ MEDIA_URL }}saaskit/img/icons/bricks.png" alt="SaaSkit Flexibility" width="16" height="16">
	  &nbsp;{% trans "Built-in Flexibility" %}</h5>
      <p>{% trans "Built in support for mobile templates, Integrated with 3rd party API such as Google, Yahoo, Twitter Facebook and more, OpenID ready, support for exposing your application data to 3rd party developers, built in localization support." %}</p>
    </div>

    <div class="benefit" style="float:left">
      <h5><img src="{{ MEDIA_URL }}saaskit/img/icons/plugin_link.png" alt="SaaSkit Customization" width="16" height="16">
	  &nbsp;{% trans "Mass Customization" %}</h5>
      <p>{% trans "Clients can select domain or sub-domain based account, customize themes and language, make application public or private, use their Adsense account for revenue generation and Analytics code for stats." %}</p>
    </div>

  </div>
</div>
{% endblock %}

























