{% extends "base_tmpl.html" %}
{% load i18n %}
{% block class %}yui-t7{% endblock %}

{% block head_title %}{{block.super}} : {% trans "Privacy & Copyright" %}{% endblock %}

{% block content %}
<div class="saaskit-block">
  	<h3>{% trans "Privacy Policy" %}</h3>
	    <div class="saaskit-content">
			<h4>{% trans "Information Gathering and Usage" %}</h4>
			<h4>{% trans "Data Storage" %}</h4>
			<h4>{% trans "Disclosure" %}</h4>
			<h4>{% trans "Changes" %}</h4>
			<h4>{% trans "Questions" %}</h4>
		</div>
</div>

{% endblock %}