{% load i18n %}
<div class="yui-b saaskit-sidebar">
  <div class="saaskit-block">
    <h3>{% trans 'Help' %}</h3>
    {% blocktrans %}
    <p>Tiger Woods eventuella otrohetsskandal är inte bara en nyhet i världspressen. Ryktena sprids via skräppost och med ett litet musklick riskerar nyfikna läsare att få sin dator infekterad.</p>
    {% endblocktrans %}
    {% blocktrans %}
    <p>NOTICE - Have questions? Got suggestion? Want to help us with translation? Want to know more about our services or support? Not happy with something? Found a bug? Or you just want to get something off of your chest.. Click here use answerlog! You can find us at <a href = "http://saaskit.answerlog.net">http://saaskit.answerlog.net </a> and join the discussion!
    {% endblocktrans %}
    {% blocktrans %}
	<p>By opting for SaaS Kit's Commercial License, you can get access to a range of services available to you and your business, ensuring SaaS Kit works for you all the time.</p>
    {% endblocktrans %}
  </div>
</div>






