{% extends "base_tmpl.html" %}
{% load i18n %}
{% block head_title %}{{block.super}} : {% trans "Terms and Conditions" %}{% endblock %}
{% block class %}yui-t7{% endblock %}

{% block content %}
<div class="saaskit-block">
	<h3>{% trans "Terms of Service" %}</h3>
	    <div class="saaskit-content">
			<h4>{% trans "Account Terms" %}</h4>
			<h4>{% trans "Payment, Refunds, Upgrading and Downgrading Terms" %}</h4>
			<h4>{% trans "Cancellation and Termination" %}</h4>
			<h4>{% trans "Modifications to the Service and Prices" %}</h4>
			<h4>{% trans "Copyright and Content Ownership" %}</h4>
			<h4>{% trans "General Conditions" %}</h4>
		</div>
</div>
{% endblock %}
