{% extends "base_tmpl.html" %}
{% load i18n %}
{% block head_title %}{{ block.super }} : {% trans "About us" %}{% endblock %}
{% block class %}yui-t7{% endblock %}

{% block content %}
<div class="saaskit-block">
  <div class="saaskit-content">

         <h1>{% trans "About us" %}</h1>


		3rd Party API & Developer Support (API)

		Easily share your application data with 3rd party developers as API. Saaskit also enables you to seemlessly intergrate your application with APIs of web services like Google, Twitter, Facebook and more. Saaskit supports OpenID standard; meaning that users have the freedom to use their existing account credentials to log-in to your app. This helps you leverage on the existing user base. 

		Adsense (Advertising)

		Saaskit supports Google Adsense & other Ad networks, this enables your clients to generate revenue by serving ads from Google AdSense™ advertising service on their sites. Saaskit Google Adsense module provides easy-to-use ad blocks, protects users from displaying more ads in a page than the maximum allowed by Google, offers simple controls for troubleshooting ads before they go live, lets you quickly effect site-wide script update when Google performs minor changes in the ad scripts. 

		Analytics (Analytics)

		Get insights into your site traffic & use this information to plan and implement effective marketing strategies with Saaskit's Google analytics support. Saaskit also offers webmaster tools to enable you better manage your search engine placement in Google and other major search engines. 

		Application Customization (Customization)

		Give your users the privilege of deciding on the look & feel of their hosted application with customizable domain names, themes and layouts. Users can also import contacts from their existing accounts with other web service providers i.e. Yahoo!, Google, AOL and any other provider that supports the Open ID standard into their hosted applications.


		Truly Global! (Multilingual)

		Saaskit is a truly global service that enables you to reach users in the global market in their local languages - we currently support English, Germany, French and Russian with more to follow. With Saaskit, language is no-longer a barrier to your success but a key to it. Open doors to global citizens and empower them to connect and share knowledge. 

		Powered by Django Web framework (Future-proof)

		Saaskit is built on Django - a solid web framework that allows for rapid development of efficient, clean and high performing web apps on the run. Django is open source and benefits from extensive support of the open source community of developers. With Saaskit, your future is guaranteed!

		We also offer open source version of Saaskit which allows for full customization, this requires some coding "know-how" to work well. Develop your application "on the fly" with our "polls App" and tutorials, no hassles! no delays! 


		 Manage Subscriptions & Business Models (Billing) 

		Our Quota management system enables you to effectively manage subscriptions and billing. Limit features based on subscription level by enforcing or offering multiple levels of subscription to your users. SaaSkit quota management system lets you allocate specific features to specific subscriptions.

		Saaskit currently supports Paypal, a free to sign-up, fast and secure payment system that will get you started with your business in no time. We're in the process of adding more payment gateways as demand dictates.

		It's your business and you call the shots. Choose a business model that fits you - subscription or prepaid. Our subscription plan is designed for answerlog clients while prepaid is for end-users.


		Mobile Ready!(Mobile)

		SaaSkit offers support for mobile devices and applications, so whether it's an iPhone, Blackberry or Android, all that that a user has to do is tweak the provided template & be ready to go! Connect from anywhere! SaaSkit mobile support includes a simplified interface and mobile friendly features. User experience with the mobile app. is enhanced when using devices with big screen, In-built Wi-Fi, good usability and a full fledged browser. 



       
  </div>
</div>
{% endblock %}

