{% extends "base_tmpl.html" %}
{% load i18n class_if_reverse muaccounts_tags %}


{% block nav %}
  <ul>
     <li{% class_if_reverse account_dashboard saaskit-nav-active %}><a href="{% url account_dashboard %}">{% trans "Dashboard" %}</a></li>
     <li{% class_if_reverse profiles_edit_profile saaskit-nav-active %}><a href="{% url profiles_edit_profile %}">{% trans "Profiles and Passwords" %}</a></li>
     <li{% class_if_reverse subscription_list saaskit-nav-active %}><a href="{% url subscription_list %}">{% trans "Plans and Pricing" %}</a></li>
     <li{% class_if_reverse prepaid-index saaskit-nav-active %}><a href="{% url prepaid-index %}">{% trans "Bounty Points" %}</a></li>
   {% if request.user.subscription %}		
     <li{% class_if_reverse invoice_listing saaskit-nav-active %}><a href="{% url invoice_listing %}">{% trans "Invoices" %}</a></li>
   {% endif %}
  </ul>
{% endblock %}

{% block sidebar %}
<div class="yui-b saaskit-sidebar">
  <div class="saaskit-block">
    <h3>Help </h3>
    <p>Tiger Woods eventuella otrohetsskandal är inte bara en nyhet i världspressen. Ryktena sprids via skräppost och med ett litet musklick riskerar nyfikna läsare att få sin dator infekterad.</p>
  </div>
</div>
{% endblock %}
