{% load i18n compressed muaccounts_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title %}SaaSkit{% endblock %}</title>
	    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">

		{% block extra_style %}
		  {% compressed_css 'all' %}
		  <link rel="shortcut icon" href="{{ MEDIA_URL }}saaskit/img/favicon.ico">
		{% endblock %}
		
        {% block extra_head %}{% endblock %}

    </head>
    
    <body class="{% block skin %}yui-skin-saaskit{% endblock %}">
	    <div id="{% block doctype %}doc3{% endblock %}" class="{% block class %}yui-t5{% endblock %}">
            <div id="hd" class="saaskit-hd">
				{% block logo %} 
				  <div class="logo"><h1><a href="/">SaaSkit</a> | </h1></div>
				{% endblock %}

				{% block sitename %} 				
				{% endblock %}

                {% block tagline %}
                  <div id="hd" class="tagline">for your <em>Freemium</em> business</div>
                {% endblock %}

                <div class="saaskit-nav-rhs">
					  <ul>
		                {% block nav-rhs-add %}
						  <li>
						    <form action="{% url django.views.i18n.set_language %}" method="post">
						      <select name="language" class="styled" />
						          <option value="language">{% trans "Select language" %}</option>
							  {% for lang in LANGUAGES %}
						          <option value="{{ lang.0 }}" {% ifequal request.LANGUAGE_CODE lang.0 %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
						        {% endfor %}
						      </select>
						    </form> 
						  </li>
						{% endblock %}						

						{% if user.is_authenticated %}		 
					      <li><a href="{% url edit_user %}">{{user}}</a></li>	
					    {% ifequal user request.muaccount.owner %}
					      <li><a href="{% url muaccounts_manage_general %}">{% trans "Manage site" %}</a></li>					
					    {% endifequal %}
						  <li><a href="{% main_site_url account_dashboard %}">{% trans "My account" %}</a></li>	
					      <li><a href="{% url auth_logout %}?next=/">{% trans "Sign out" %}</a></li>
					    {% else %}
					      <li><a href="{% url auth_login %}">{% trans "Sign in" %}</a></li>					
						  <li><a href="/contact">{% trans "Help" %}</a></li>		
					    {% endif %}
					  </ul>		
		        </div>
	     	    <div class="saaskit-nav">{% block nav %}{% endblock %}</div>
            </div>
	        <div id="bd" class="{% block type %}saaskit-bd{% endblock %}">
	            <div id="{% block column %}yui-main{% endblock %}">
	                <div class="{% block grid %}yui-b{% endblock %}">
		              {% block landing_main %}{% endblock %}
		              {% block content %}{% endblock %}	
		            </div>
		            {% block extra_content %}{% endblock %}		
                </div>
     	            {% block sidebar %}{% endblock %}		
		            {% block extra_sidebar %}{% endblock %}
            </div>          
        
            <div id="ft" class="saaskit-ft">
				{% block footer %}  
				  <p>
					<strong>
						{% trans "Copyright" %} &copy; 2010 <a href="http://saaskit.org">saaskit.org</a> | <a href="/pages/about-saas-kit-services/">{% trans "About us" %}</a> | <a href="/faq/">{% trans "Help & Support" %}</a> | <a href="/pages/saas-kit-service-copyright-privacy/">{% trans "Privacy & Copyright" %}</a> | <a href="/pages/saas-kit-service-terms-condition/">{% trans "Terms" %}</a>
					</strong>
				  </p>
				{% endblock %}
	        </div>
	    </div>  

	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		{% block extra_js %}
		  {% compressed_js 'all' %}
		{% endblock %}	
    </body>
</html>
