{% extends "main_site_tmpl.html" %}
{% load i18n class_if_reverse %}

{% block head_title %}{{ block.super }} : Toolkit for building subscription based webapp Fast!{% endblock %}

{% block teaser %}
<a href="/"><img src="{{ MEDIA_URL }}saaskit/img/screenshot.png" alt="Subscription App Screenshot" width="720" height="480"/ align="right"></a>
<p>Fully Loaded web application toolkit </p>
			<p>Choose a city…</p>
			<ul class="citylist">
			  <li class="beta"><a href="http://atlanta.everyblock.com/">Atlanta</a></li>
				<li><a href="http://boston.everyblock.com/">Boston</a></li>
				<li><a href="http://charlotte.everyblock.com/">Charlotte</a></li>
			</ul>
{% endblock %}
















