{% extends "main_site_tmpl.html" %}
{% load i18n class_if_reverse %}

{% block head_title %}{{ block.super }} : Toolkit for building subscription based webapp Fast!{% endblock %}

{% block teaser %}
  <div class="saaskit-teaser">
	<h2>The quick &amp; easy way to build your "open for business" application without scratching deep.</h2> 
	<img src="{{ MEDIA_URL }}saaskit/img/screenshot.png" alt="Subscription App Screenshot" width="720" height="480" align="right">
    <p>Features includes..</p>
      <ul>
        <li>Atlanta</li>
        <li>Boston</li>
        <li>Charlotte</li>
        <li>Atlanta</li>
        <li>Boston</li>
        <li>Charlotte</li>
        <li>Atlanta</li>
        <li>Boston</li>
        <li>Charlotte</li>
      </ul>
  </div>
{% endblock %}

{% block extra_body %}
<div class="saaskit-extra-notice">
<h3>Body Body Body</h3>
</div>
{% endblock %}














