{% extends "base_tmpl.html" %}
{% load i18n class_if_reverse compressed settings%}
{% block skin %}yui-skin-saaskit{% endblock %}{% block doctype %}doc3{% endblock %}{% block class %}yui-t5{% endblock %}
{% block type %}saaskit-bd{% endblock %}{% block column %}yui-main{% endblock %}{% block grid %}yui-b{% endblock %}

{% block extra_style %}
  {% compressed_css 'all' %}
  <link rel="shortcut icon" href="{{ MEDIA_URL }}saaskit/img/favicon.ico">
{% endblock %}
 
{% block logo %} 
  <a href="{% setting MUACCOUNTS_DEFAULT_URL %}"><img src="{{ MEDIA_URL }}saaskit/img/saaskit_logo.png" alt="SaaSkit Logo" align="top"/></a>
  {% if request.muaccount %}
    <div class="saaskit-block"><div class="saaskit-content">{{request.muaccount}}</div></div>
  {% endif %}
{% endblock %}

{% block nav-rhs %}
{% if user.is_authenticated %}		 
  <ul>
    <li><b>{{user}}</b></li>	
    {% ifequal user request.muaccount.owner %}
    <li><a href="{% url muaccounts_manage_general %}">{% trans "Manage site" %}</a></li>
    <li><a href="{% url notification_notices %}">{% trans "Visit site" %}</a></li>
    {% endifequal %}
    <li><a href="{% url notification_notices %}">{% trans "My account" %}</a></li>
    <li><a href="{% url user_signout %}?next=/">{% trans "Sign out" %}</a></li>
    {% else %}
    <li><a href="{% url user_signin %}">{% trans "Sign in" %}</a></li>
    {% endif %}
  </ul>		
{% endblock %}


{% block footer %}  
  <p>
    Copyright &copy; 2019 Blah Your Website | <a href="/privacy" style="font-weight: 600;">{% trans "Privacy & Copyright" %}</a>
  </p>
{% endblock %}
{% block extra_js %}
  {% compressed_js 'all' %}
{% endblock %}
