{% extends "base.html" %}
{% load i18n class_if_reverse %}

        {% block skin_class %}yui-skin-saaskit{% endblock %}

        {% block layout_type %}doc3{% endblock %}

        {% block layout_class %}yui-t5{% endblock %}
 
        {% block logo %} <h1>SaaS App Theme</h1> {% endblock %}

		{% block nav-rhs %} 
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>		
		{% endblock %}

		{% block nav %} 
          <ul>
            <li><a href="#">Some Page</a></li>
            <li class="saaskit-nav-active"><a href="#">Active</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Signup</a></li>
          </ul>                            
		{% endblock %}                 

        {% block content %}     
          <div class="saaskit-block">
            <h3>Basic Block &larr; This can be an H3</h3>
             <div class="saaskit-content">
              <h5>Some H5 Text</h5>
              <p>So this is a basic block module. It allows you to define a header using either &mdash; without requiring any markup changes.</p>   
             </div>
          </div>
        {% endblock %}           

        {% block sidebar %}
        <div class="saaskit-block">      
		    <h3>Block</h3>
            <p>This project is based on the great idea and design work done by the <a href="http://gtheme"></a> project on GitHub. We loved the 
	             concept and simplicity of their web app template but needed it to be built with YUI instead. So we decided to re-implement it ourselves.
            </p>
        </div>

        <div class="saaskit-notice">      
		    <h4>Notice</h4>
            <p>This project is based on the great idea and design work done by the <a href="http://gtheme"></a> project on GitHub. We loved the 
	             concept and simplicity of their web app template but needed it to be built with YUI instead. So we decided to re-implement it ourselves.
            </p>
        </div>
        {% endblock %}
   
        {% block extra_body %}  
          <div class="saaskit-extra-body">      
		    <h2>Extra Body</h2>
              <p>This project is based on the great idea and design work done by the <a href="http://gtheme"></a> project on GitHub. We loved the 
	             concept and simplicity of their web app template but needed it to be built with YUI instead. So we decided to re-implement it ourselves.
              </p>
          </div>

          <div class="saaskit-extra-notice">      
		    <h2>Notice</h2>
              <p>This project is based on the great idea and design work done by the <a href="http://gtheme"></a> project on GitHub. We loved the 
	             concept and simplicity of their web app template but needed it to be built with YUI instead. So we decided to re-implement it ourselves.
              </p>
          </div>
        {% endblock %}

        {% block footer %}  
          <p>Copyright &copy; 2019 Blah Your Website</p>
        {% endblock %}