{% extends "main_site.html" %}
{% load i18n class_if_reverse %}

{% block head_title %}{% trans "Manage Account : Dashboard" %}{% endblock %}


{% block nav %}
  <ul>
    <li><a href="{% url account_dashboard %}">{% trans "Dashboard" %}</a></li>
    <li><a href="{% url profiles_edit_profile %}">{% trans "Profile" %}</a></li>
    <li><a href ="{% url auth_password_change %}">{% trans "Password Settings" %}</a></li>
    <li><a href="{% url subscription_list %}">{% trans "Plans and Payments" %}</a></li>
    <li><a href="{% url prepaid-index %}">{% trans "Points" %}</a></li>
    <li><a href="{% url muaccounts_listing %}">{% trans "My Sites" %}</a></li>		
  </ul>
{% endblock %}