Remove Contact us -- replace it with support.. update Contact us to link to QA for it.

<li><a href="{% url contact_form %}">{% trans "Contact us" %}</a></li>
<li{% class_if_reverse /support/ saaskit-nav-active %}><a href="/support/">{% trans "Support" %}</a></li>

====

			        <li{% class_if_reverse /$ saaskit-nav-active %}><a href="/">{% trans "SaaSkit" %}</a></li>
        				  {% if user.is_authenticated %}
                    <li{% class_if_reverse muaccounts_listing saaskit-nav-active %}><a href="{% url muaccounts_listing %}">{% trans "My Sites" %}</a></li>		
				           {% else %}
				    <li{% class_if_reverse subscription_list saaskit-nav-active %}><a href="{% url subscription_list %}">{% trans "Plans & Pricing" %}</a></li>
			             {% endif %}
				    <li{% class_if_reverse /about/ saaskit-nav-active %}><a href="/about/">{% trans "About Us" %}</a></li>								
			      </ul>
			    </div>


		          <div class="saaskit-nav-rhs">
		                <ul>
		                  {% if user.is_authenticated %}
		                  <li>{% trans "Welcome" %}, <span>{{user}}</span></li> 
		                  <li><a href="{% url notification_notices %}">{% trans "Account" %}</a></li> 
		                  <li><a href="{% url user_signout %}?next=/">{% trans 'Logout' %}</a></li>
		                  {% else %}
		                  <li><a href="{% url user_signin %}">{% trans "Log in or Sign up" %}</a></li>
		                  {% endif %}
                      <li>
                        <form action="{% url django.views.i18n.set_language %}" method="post">
                          <select name="language">
                            {% for lang in LANGUAGES %}
                              <option value="{{ lang.0 }}" {% ifequal request.LANGUAGE_CODE lang.0 %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                            {% endfor %}
                          </select>
                        <input type="submit" value="Go" />
                        </form>
                      </li>
		              </ul> 
        
	    <div id="bd" class="saaskit-bd">		

	      <div id="yui-main">		

	        <div class="yui-b">

	          <div class="yui-g">
	            <div class="teaser">
		          {% block teaser %}{% endblock %}
              </div>
            </div>

	          <div class="yui-g">
		          {% block body %}{% endblock %}
            </div>

          </div>

        </div>

        <div class="yui-b">

		     <div class="saaskit-sidebar">

	          <div class="yui-g">
		          {% block teaserbar %}{% endblock %}
	          </div>
	
		      <div class="yui-g">
				{% block sidebar %}

				  <h2>{% trans "How do I" %}</h2>
				  <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta tincidunt tortor eget suscipit. Pellentesque a tortor ac ipsum mattis placerat euismod eu est. Ut turpis nulla, gravida sit amet feugiat sit amet, mollis nec arcu. Nullam eu erat quam, et facilisis erat. Sed ut leo purus, nec semper urna. Vivamus sit" %}</p>
				
				  <p>{% trans "Hamet dolor ac arcu porttitor aliquet. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam sed dolor elit, ut volutpat libero. Curabitur gravida vestibulum sem, ac blandit dui dictum ut. Nunc id ligula eu nisi pellentesque volutpat. Quisque vitae lacus nunc." %}</p>

				{% endblock %}

          </div>
			
	       </div>

	     </div>

      </div>

	    <div id="ft" class="saaskit-ft">
          <p><a href="/privacy" style="font-weight: 600;">{% trans "Privacy & Copyright" %}</a></p>
      </div>

    </div>

    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
