{% extends "main.html" %}
{% load i18n %}

{% block title %} if current_page  show_content current_page "title"  endif {% endblock %} 

{% block body %}
<div id="yui-main"><div class="yui-b"><div class="yui-g">
      <h2>{% placeholder title on current_page with TextInput %}</h2>
      {% placeholder body on current_page with WYMEditor %}
</div></div></div>

<div id="sidebar" class="yui-b">
  <div class="block">
    <div class="hd"><h2>Navigation</h2></div><div class="bd">
      <ul>
        {% if current_page %}{% pages_sub_menu current_page %}{% endif %}
      </ul>
    </div>
  </div>
</div>
</script>

{% endblock %}
