{% extends "main.html" %}
{% block title %}Your Account{% endblock %} 
{% block body %}
  <div class="block">
    <div class="bd">
     <h2>Change Password</h2>
1. We need to put this page here <a href="http://yotweets.com/accounts/password/">http://yotweets.com/accounts/password/</a>
<br/>
2. We need to know what impact does django-socialauth makes to this pages.. and make the necessary changes here.
<br/>
3. We need to delete the necessary top links from the main site new link should be same as the "user_sites" top links
</div></div>
{% endblock %}
{% block sidebar %}

  <div class="block">
      <div class="bd">
         <h2><a href="/extend/dashboard">Dashboard</a></h2>
         <h2><a href="/extend/profile">My Profile</a></h2>
         <h2><a href="/extend/password">Password Settings</a></h2>
         <h2><a href="/extend/plans">Plans and Payments</a></h2>
         <h2><a href="/extend/invoice">Invoice History</a></h2> 
      </div>
    </div>
 
  
{% endblock %}






