{% extends "main.html" %}
{% load i18n %}
{% block title %}{% trans "Manage your account" %}{% endblock %} 
{% block body %}
  <h2>{% block content_title %}{{ title }}{% endblock %}</h2>
  {% block content %}{% endblock %}
{% endblock %}
{% block sidebar %}
  <div>
    <h2><a href="{% url account_dashboard %}">{% trans "Dashboard" %}</a></h2>
    <h2><a href="{% url profiles_edit_profile %}">{% trans "Profile" %}</a></h2>
    <h2><a href ="{% url auth_password_change %}">{% trans "Password Settings" %}</a></h2>
    <h2><a href="{% url subscription_list %}">{% trans "Plans and Payments" %}</a></h2>
    <h2><a href="{% url prepaid-index %}">{% trans "Points" %}</a></h2>
  </div>
{% endblock %}
