/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

html, body { 
	background-color:#EBE1D3;
	/*padding-top: .3em;*/
}
h1, h2, h3 {
	color: #222;
}
a { 
	color:#0854C7;
	text-decoration: none; 
}
table thead { background-color:#685841;}

#hd {
	background-color: #fff;
}
#hd h1{
	color: #fff;	
}
#user-nav {background-color:#967E59;}
#logo a {color:#967E59;}
#logo p {color:#967E59;}
#searchBar .options {color:#967E59;}
#primary-navigation {border-bottom:1px solid #064780;}
#primary-navigation a {background-color:#064780; color:#fff; border-bottom:2px solid #064780;}
#primary-navigation a:hover{background-color:#F9F7ED; color:#333; border: 1px solid #777;border-bottom:3px solid #f0f0ee;}
#primary-navigation a.active {background-color:#fff; color:#333; border: 1px solid #777;border-bottom:3px solid #f0f0ee;}
#bd {
	background-color: #fff;
	color: #333;
}
#listA .qstA H2 a {color:#967E59; }
#listA .qstA .stat .num {color:#967E59;}
.boxB {background:#967E59;}
.boxB h3 {color:#fff;}
.questions-count {#967e59;}

#primary-navigation li.active a { background-color: #fff; color:#333;}
#navigation {
	background-color: #064780;
}

.block .hd { background-color: #A0C2DE; color: #333; border-bottom: 5px solid #064780 }
.tabs .hd {
	background-color: #064780;
	border-bottom: 5px solid #A0C2DE;
}

.block .bd h2 { color:#967E59; }
.block .bd h3 { color:#967E59; }
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#187a7a; }

.tabs ul {
	background-color: #064780;
}

.tabs .hd ul li a:hover { background-color:#CDEFFF; 	color: #333;
}

.tabs .hd ul li.active a { background-color:#A0C2DE !important; color:#333; text-decoration:none; }
.spaces .hd ul li { background-color:#064780; margin-right:0.1em; }

ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #ccc; text-decoration:none; color:#333; }
ul.pager li.active a, ul.pager li a:hover { background-color:#685841; color:#fff; }
#ft {background-color:#967E59; color:#fff;}
#ft a {color:#fff;}