{% extends "base_tmpl.html" %}
{% load i18n uni_form_tags thumbnail muaccounts_tags %}
{% block class %}{% endblock %}
{% block column %}{% endblock %}{% block grid %}yui-g{% endblock %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

<h2>{% trans "Sign in" %}</h2>
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% block content %}
<div class="yui-u first">
	<div id="login-block">
	  <form id="auth_form" class="uniForm" action="" method="post">
	    <fieldset class="inlineLabels">
	      <legend>{% trans "Sign In Using Your Account ID" %}</legend>
	      {{ form|as_uni_form }}
	      <div class="buttonHolder">
	        <input type="submit" name="blogin" value="{% trans 'Sign in' %}" />
	      </div>
	    </fieldset>
	  </form>
	  <a id="password_reset_link" href="{% url auth_password_reset %}">{% trans "Reset password" %}</a>
	  <form id="password_reset_form" method="post" action="{% url auth_password_reset %}" class="uniForm" style="display:none;">
	    <fieldset class="inlineLabels">
	      {{ password_reset_form|as_uni_form }}
	    </fieldset>
	    <div class="buttonHolder">
	      <input type="submit" name="{{ password_reset_action }}" value="{% trans 'Reset' %}" />
	    </div>
	  </form>
	  <a href="{% url registration_register %}">{% trans "Register" %}</a>
	</div>
</div> 
{% endblock %}

{% block defunct %}
{% if request.REQUEST.muaccount %}
{% get_muaccount request.REQUEST.muaccount as ref_mua %}
<div id="logo">
  <a href="/" title="{% trans 'back to home page' %}">
  {% if ref_mua.logo %}
    <img src="{% thumbnail ref_mua.logo 143x59 %}" id="site-logo">
  {% else %}
    <h2>{{ ref_mua.name }}</h2>
  {% endif %}
  </a>
  <p>{{ ref_mua.tag_line }}</p>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
{{block.super}}

<script type="text/javascript">
$(document).ready(function() {
    //password_reset form show/hide
    if ( $('#password_reset_form .ctrlHolder').is('.error') )
    	$('#password_reset_form').show();
     
    $('#password_reset_link').click(function() {
    	  $('#password_reset_form').toggle("slow");
        return false;
    });
});
</script>
{% endblock %}
