{% extends "base_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}
{% block content %}

<h2>{% trans "Confirm password reset" %}</h2>

<div class="yui-u first">
{% if validlink %}
<form method="post" action="" class="uniForm">
	    <fieldset class="inlineLabels">
  {{ form|as_uni_form }}

	    <div class="buttonHolder">
  <input type="submit" value="Reset" />
	    </div>
	    </fieldset>
</form>
{% else %}
<p class="error">{% trans "Password reset failed." %}</p>
{% endif %}

</div> 
{% endblock %}
