
/* Generics */
.yui-skin-yuiapp p { margin:1em 0.62em; }
.yui-skin-yuiapp strong { font-weight:bold; }
.yui-skin-yuiapp em { font-style:italic; }

.yui-skin-yuiapp abbr,
.yui-skin-yuiapp acronym { border-width:0 0 1px; border-style: dashed; cursor:help; }

/* Make the page full bleed */
.yui-skin-yuiapp #doc3 { margin:0; }

/* *** Header *** */
.yui-skin-yuiapp .yuiapp-hd { padding:1.2em 1.5em 0 1.5em; }
.yui-skin-yuiapp .yuiapp-hd h1 { font-size:230%; margin-bottom: 0.7em}

.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav li { float:left; display:inline; }
.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav li a { display:block; text-decoration:none; }
.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav li a:hover { text-decoration:underline; }

.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav .yui-u.first li a { font-size:116%; padding:0.4em 1em; }

.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav-rhs ul { float:right; }
.yui-skin-yuiapp .yuiapp-hd .yuiapp-nav-rhs li a { font-size:93%; padding:0.5em 1em; }


/* *** Body *** */

.yui-skin-yuiapp .yuiapp-bd .teaser p { margin-left: 0.62em; }
/* Generics */

/* Lists */
.yui-skin-yuiapp .yuiapp-bd ol,
.yui-skin-yuiapp .yuiapp-bd ul,
.yui-skin-yuiapp .yuiapp-bd dl { margin-left:2em; margin-bottom:1em; padding-left:0.5em; }

.yui-skin-yuiapp .yuiapp-bd ol { margin-left:2.2em; padding-left: 1.2em; }
.yui-skin-yuiapp .yuiapp-bd ul { margin-left:2.2em; padding-left: 0.8em; }


.yui-skin-yuiapp .yuiapp-bd ol li { list-style:decimal outside; }
.yui-skin-yuiapp .yuiapp-bd ul li { list-style:disc outside; padding-left:0.4em}
.yui-skin-yuiapp .yuiapp-bd dl dd { margin-left:1em; }

.yui-skin-yuiapp .yuiapp-bd { padding:1.5em 1em; }
.yui-skin-yuiapp .yuiapp-bd h1 { font-size: 167%; color:#f00; font-weight: bold;  margin:1em 1%; }  /* This style serves purely as a warning - if you see it in the page, remove the tag!  Only one h1 allowed in page! */
.yui-skin-yuiapp .yuiapp-bd h2 { font-size:153.9%; margin: 0 0 0.4em 0.4em; }
.yui-skin-yuiapp .yuiapp-bd h3 { font-size:100%; border-width: 0 0 5px; border-style: solid; padding:0.7em 0.9em; margin:0 0.5em; }  /* Coloured block headings */
.yui-skin-yuiapp .yuiapp-bd h4 { font-size:146.5%; margin:0.6em 1em; }
.yui-skin-yuiapp .yuiapp-bd h5 { font-size:123.1%; margin:0.6em 1.2em; }


/* Basic block */
.yui-skin-yuiapp .yuiapp-bd p { margin:1em 1.5em; }


/* Extend block with tabs */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs { padding:0; border-width:0 0 5px; border-style:solid; overflow: hidden }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul { height:1%; margin: 0; padding:0 }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li { float:left; list-style: none outside; padding-left: 0; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li a { display:block; text-decoration:none; padding:0.5em 1em; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li.yuiapp-tabs-active a { text-decoration:none; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs h2 { position:absolute; margin-left:-5000px; } /* Hidden SEO Header if needed */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul { }


/* Extend tab block with spaced tabs */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs.yuiapp-spaces { background-color:transparent; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs.yuiapp-spaces ul li { margin-right:0.1em; }

/* Extend block and header to have rounded corners */
.yui-skin-yuiapp.rounded #hd .yui-g,
.yui-skin-yuiapp.rounded #hd .yui-g ul li,
.yui-skin-yuiapp.rounded #hd .yui-g ul li a,
.yui-skin-yuiapp.rounded .yuiapp-bd .yuiapp-tabs,
.yui-skin-yuiapp.rounded .yuiapp-bd .yuiapp-tabs ul li,
.yui-skin-yuiapp.rounded .yuiapp-bd .yuiapp-tabs ul li a,
.yui-skin-yuiapp.rounded .yuiapp-bd h3 {
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
}

/* Style the horizontal rules inside .block */
.yui-skin-yuiapp .yuiapp-bd hr { height:1px; border:0; }

/* Tables */
.yui-skin-yuiapp .yuiapp-bd table { width:98%; margin:0 0 1em 1em; }
.yui-skin-yuiapp .yuiapp-bd table td { padding:0.5em; }
.yui-skin-yuiapp .yuiapp-bd table thead { font-weight:bold; }
.yui-skin-yuiapp .yuiapp-bd table thead a { text-decoration:none; }
.yui-skin-yuiapp .yuiapp-bd table thead a:hover { text-decoration:underline; }
.yui-skin-yuiapp .yuiapp-bd table tbody a { text-decoration:underline; }

/* Pager control*/
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager { text-align:right; padding-right:0.5em; }
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li { display:inline; }
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li a { padding:0.1em 0.3em; margin-right:0.3em; border-width:1px; border-style:solid; text-decoration:none; }


/* Forms */
.yui-skin-yuiapp .yuiapp-bd form p { padding-right: 1em;}
.yui-skin-yuiapp .yuiapp-bd form label { font-weight:bold; }
.yui-skin-yuiapp .yuiapp-bd form label span { font-weight:normal; font-size:85%; }
.yui-skin-yuiapp .yuiapp-bd form span.info { font-style:italic; font-size:85%; }
.yui-skin-yuiapp .yuiapp-bd form textarea.text,
.yui-skin-yuiapp .yuiapp-bd form input.text { display:block; width:100%; border-width:1px; border-style:solid; padding:0.3em; }


/* Messages */
.yui-skin-yuiapp .yuiapp-bd p.alert { padding:0.5em; text-align:center; }
.yui-skin-yuiapp .yuiapp-bd p.error { border-width:2px; border-style: solid; }
.yui-skin-yuiapp .yuiapp-bd p.warning { border-width:2px; border-style:solid; }
.yui-skin-yuiapp .yuiapp-bd p.notice { border-width:2px; border-style:solid; }

/* Sidebar */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar p { margin:1em 1em; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul { margin:0 0 1em 2.2em; padding-left: 0; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul li { margin-top:-1px; border-style:solid; border-width:1px 0 1px 0; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul li a { display:block; padding:0.5em 0; text-decoration:none; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul li a:hover { text-decoration:underline; }

/* Footer */
.yui-skin-yuiapp .yuiapp-ft { text-align:center; font-size:85%; padding:1em; }

/* Custom Classes */
.yui-skin-yuiapp .small { font-size:85%; }

.yui-skin-yuiapp .text-left { text-align:left; }
.yui-skin-yuiapp .text-right { text-align:right; }
.yui-skin-yuiapp .text-center { text-align:center; }
.yui-skin-yuiapp .clear { clear:both; }


/* *** Skin Colour Scheme *** */
/* *** - Tan Blue by default - copy the section below into your colour scheme file *** */

/* Generics */
.yui-skin-yuiapp a { color:#0854C7; text-decoration: none; }
.yui-skin-yuiapp abbr,
.yui-skin-yuiapp acronym { border-color: #000; }

html, 
body.yui-skin-yuiapp { background-color:#fff; color:#262626; }

/* *** Header *** */
.yui-skin-yuiapp .yuiapp-hd { background-color:#967E59; }
.yui-skin-yuiapp .yuiapp-hd h1 { color:#fff; }
.yui-skin-yuiapp .yuiapp-hd .yui-g { background-color:#064780; }
.yui-skin-yuiapp .yuiapp-hd li a { color:#fff; }
.yui-skin-yuiapp .yuiapp-hd .yui-u.first li.yuiapp-nav-active a { background-color:#fff; color:#000; }

/* Generics */
.yui-skin-yuiapp .yuiapp-bd h2 { } /* First, attempt to set font color using html element above to influence this element */
.yui-skin-yuiapp .yuiapp-bd h3 { background-color:#A0C2DE; border-color:#064780; color: #262626 } 
.yui-skin-yuiapp .yuiapp-bd h4 { color: #967E59; }
.yui-skin-yuiapp .yuiapp-bd h5 { color: #967E59; }
.yui-skin-yuiapp .yuiapp-bd { background-color:#fff; color: #333; }

/* Extend block with tabs */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs { background-color: #064780; border-color:#A0C2DE; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li a { color:#fff; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li a:hover { background-color:#CDEFFF; color: #333333; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs ul li.yuiapp-tabs-active a { background-color:#A0C2DE !important; color:#333333; } /* important! fixes IE cascade issue */

/* Extend tab block with spaced tabs */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-tabs.yuiapp-spaces ul li { background-color:#064780; }

/* Style the horizontal rules inside .block */
.yui-skin-yuiapp .yuiapp-bd hr { background-color:#967E59; }

/* Tables */
.yui-skin-yuiapp .yuiapp-bd table thead { background-color:#685841; color:#fff; font-weight:bold; }
.yui-skin-yuiapp .yuiapp-bd table thead a { color:#fff; }

/* Pager control*/
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li a { color:#333; border-color:#ccc; }
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li a:hover { background-color:#685841; color:#fff; }
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li.yuiapp-pager-active a { background-color:#685841; color:#fff; }
.yui-skin-yuiapp .yuiapp-bd ul.yuiapp-pager li.yuiapp-pager-active a:hover { background-color:#685841; color:#fff; }

/* Forms */
.yui-skin-yuiapp .yuiapp-bd form label span { color:#f00; }
.yui-skin-yuiapp .yuiapp-bd form span.info { color:#888; }
.yui-skin-yuiapp .yuiapp-bd form .text { border-color:#aaa; }

/* Messages */
.yui-skin-yuiapp .yuiapp-bd .error { background-color:#fdd; border-color:#fbb; }
.yui-skin-yuiapp .yuiapp-bd .warning { background-color:#ffc; border-color:#fffaaa; }
.yui-skin-yuiapp .yuiapp-bd .notice { background-color:#bbffb6; border-color:#1fdf00; }

/* Lists */
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul li a { color:#000; }
.yui-skin-yuiapp .yuiapp-bd .yuiapp-sidebar ul li { border-color: #f0f0ee; }

/* Footer */
.yui-skin-yuiapp .yuiapp-ft { background-color:#EBE1D3; color:#262626; }

/* Custom Classes */
.yui-skin-yuiapp .gray { color:#999; }
.yui-skin-yuiapp .highlight { background-color:#ffffcc; }
