{% extends "main.html" %}
{% load i18n %}

{% block title %}{% if set_password %}{% trans 'Set password' %}
{% else %}{% trans 'Password change' %}{% endif %}{% endblock %} 

{% block body %}
{% if set_password %}
<h2>{% trans 'Set password' %}</h2>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h2>{% trans 'Password change' %}</h2>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">

{{ form.old_password.errors }}
<p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>{{ form.old_password }}</p>
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>

<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

<h2>OpenID</h2>
<ul>{% for a in user.userassociation_set.all %}<li>
    {{a.openid_url}}
    [<a href="{% url user_dissociate %}?openid_url={{a.openid_url}}">dissociate</a>]
  </li>{% endfor %}
  <a href="{% url user_associate %}">Associate other OpenID</a>
</ul>

{% endif %}
{% endblock %}
