{% extends "muaccounts/manage/base.html" %}
{% load i18n frontendadmin_tags %}
{% block title %}Application settings{% endblock %} 

{% block content %}
  <h2>{% trans "Manage Content" %}</h2>
  {% frontendadmin_add flatpage_list %}
  <ul>
    {% for flatpage in flatpage_list %}
    <li>
      <a href="{{ flatpage.url }}">{{ flatpage.title }}</a>
      {% if flatpage.muaccount %} 
      | {% frontendadmin_change flatpage 'change' %}
      {% if not flatpage.has_default %}
        | {% frontendadmin_delete flatpage %}
      {% endif %}
      {% else %}
      | {% frontendadmin_change flatpage 'customize' %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}

{% comment %}
{% block extra_scripts %}
{{ block.super }}
<script type="text/javascript">
jQuery(document).ready(function(){

    // Iterate through all frontendadmin links
  $('a.frontendadmin').each(function(){

        // Change the background color of the parent container on hover
      $(this).hover(
          function(){
              $(this).parent().addClass('frontendadmin_container_hover');
          },
          function(){
              $(this).parent().removeClass('frontendadmin_container_hover');
          }
      );

        // Load the frontendadmin form url into the parent container
    $(this).click(function(){
          $(this).parent().removeClass('frontendadmin_container_hover');
      $(this).parent().load($(this).attr('href'));
      return false;
    });

  })
});
</script>
{% endblock %}
{% endcomment %}
