{% extends "muaccounts/manage/base.html" %}
{% load smartif settings %}
{% block title %}Manage your site{% endblock %} 

{% block content %}
<h2>Members</h2>
        <table>
         {% for member in member_list %}
           <tr class="{% cycle 'row1' 'row2' %}">
               <td>{{ member }}</td>
               <td>{{ member.date_joined|date }}</td>
               <td>
                   <form class="inline-form" method="POST" action="{% url muaccounts_remove_member user_id=member.id %}">
                       <p><input type="submit" value="remove user"></p></form>
               </td>
           </tr>
       {% endfor %}
        </table>
     {% with member_list|length as member_count %}
     {% if member_count < user.quotas.muaccount_members %}
         <a href="{% url muaccounts_add_member %}">Add member</a>
     {% else %}
     <p><a href="{% url sso %}?next={% setting BUY_SITE_URL %}">Upgrade your plan</a> to add
       more users!</p>
     {% endif %}
    {% endwith %}
{% endblock %}









