{% extends "main.html" %}
{% load smartif i18n frontendadmin_tags %}
{% block title %}Your mu accounts{% endblock %} 

{% block body %}
<div id="yui-main"><div class="yui-b"><div class="yui-g">
  <h2>{% trans "Manage mu accounts" %}</h2>
  {% with mua_list|length as mua_count %}
    {% if mua_count < user.quotas.muaccounts %}
      {% frontendadmin_add mua_list %}
    {% else %}
    {% url subscription_list as subscription_url %}
    <p>{% blocktrans %}You can not add more domains. <a href="{{ subscription_url }}">Upgrade</a> your plan.{% endblocktrans %}</p>
    {% endif %}
  {% endwith %}
  
  <h3>{% trans "Your mu accounts" %}</h3>
  {% if mua_list %}
  <ul>
    {% for mua in mua_list %}
    <li>
      {% frontendadmin_delete mua %} | {% frontendadmin_change mua %} | 
      <a href="{% url sso %}?next={{ mua.get_absolute_url }}">{{ mua.name }}{% if not mua.name %}{{ mua.get_absolute_url }}{% endif %}</a>
      | {% load counter_tags %}{% view_count for muaccounts.muaccount mua.id as page_views %} 
        {% blocktrans with user.quotas.page_views as view_quotas %}Viewed: {{ page_views }}/{{ view_quotas }} times.{% endblocktrans %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>{% trans "You have no mu accounts." %}</p>
  {% endif %}
</div></div></div>
{% endblock %}
