.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(/media/saaskit/img/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(/media/saaskit/img/radio.gif) no-repeat;
}
span.select {
	position: absolute;
	width: 100px;
	height: 15px;
	padding: 0px 18px 0px 10px;
	color: #fff;
	font: 11px/16px arial,sans-serif;
	background: url(/media/saaskit/img/select.png) no-repeat;
	overflow: hidden;
}
