#facebox .b {
  background:url(../images/b.png);
}
 
#facebox .tl {
  background:url(../images/fbx-border-sprite.png) 0 0;
  width: 10px; 
  height: 10px;
 }
 
#facebox .tr {
  background:url(../images/fbx-border-sprite.png) -10px 0;
  width: 10px; 
  height: 10px;
 }
 
#facebox .bl {
  background:url(../images/fbx-border-sprite.png) -20px 0;
  width: 10px; 
  height: 10px;
}
 
#facebox .br {
  background:url(../images/fbx-border-sprite.png) -30px 0;
  width: 10px; 
  height: 10px;
}


#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .footer img {
  vertical-align: middle;
}

#facebox .footer table {
  width: 100%;
}

#facebox .footer table .tableLeft {
  text-align: left;
}

#facebox .footer table .tableRight {
  text-align: right;
}

#facebox .footer table .tableCenter {
  text-align: center;
}

#facebox .navigation img {
  padding-right: 10px; 
}

#facebox .info {
  color: #595959;
  font-size: 13px;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/* ie6 hacks */

* html #facebox_overlay { 
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
