@charset "UTF-8";
/* CSS Document */
#user-nav {margin:0 1em 0 1em; float:right; color:#fff; }
#user-nav li {display: inline; padding: 0; margin: 0 0.2em 0 0.2em; }
#user-nav li a {color:#fff; font-weight:600;}

#primary-navigation {margin-left:20%; display:block;}
#primary-navigation a {color:#333333; background-color:#F9F7ED;border: 1px solid #aaaaaa;
                border-bottom: none; padding:0px 12px 3px 12px; height:25px; line-height:30px;margin-left:10px; font-size:14px; font-weight:400; text-decoration:none;display: block;float: left; }
#primary-navigation a:hover{text-decoration:underline;}
#primary-navigation .nav a.on {height:24px;line-height:28px;border:1px solid #d64000; background:#B02B2C; color:#FFF; font-weight:600; text-decoration:none}
#primary-navigation .nav a.special {font-size:15px; color:#B02B2C; font-weight:bold; text-decoration:none; }
#primary-navigation .nav a.special:hover {text-decoration:underline;}

#logo {padding: 5px 15px 0px 15px; width:200px height:50px;
}
#logo h2 {font-size:140%;}
#logo p {font-style:italic; color:#fff}

#search-bar {background-color:#9db2b1;}
#searchBar .searchInput {font-size:13px; height:18px; width:400px; margin-left:25%; }
#searchBar .searchBtn {font-size:14px; height:26px; width:80px; }
#searchBar .options {padding-top:5px; font-size:100%;color:#EEE; text-align:center;}
#searchBar .options INPUT {margin-left:15px;}
#searchBar .options INPUT:hover {cursor:pointer}




















