/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

#hd { background-color:#f0f0ee; }
#user-nav {background-color:#176288;}
#logo a {color:#176288;}
#logo p {color:#176288;}
#searchBar .options {color:#176288;}
#primary-navigation {border-bottom:1px solid #176288;}
#primary-navigation a {background-color:#176288; color:#fff; border-bottom:2px solid #176288;}
#primary-navigation a:hover{background-color:#F9F7ED; color:#333; border: 1px solid #777;border-bottom:3px solid #f0f0ee;}
#primary-navigation a.active {background-color:#fff; color:#333; border: 1px solid #777;border-bottom:3px solid #f0f0ee;}
.block .hd { background-color:#176288; color:#FFFFFF; border-bottom:10px solid #262626; }
.block .bd h2 { color:#262626; }
.block .bd h3 { color:#262626; }
.spaces .hd { background-color:transparent; }
.spaces .hd ul li { background-color:#176288; }
a { color:#0d93d7; text-decoration:none; }
.tabs .hd ul li a:hover { background-color:#262626; }
.asHeader { color:#262626; }
#listA .qstA H2 a {color:#176288; }
#listA .qstA .stat .num {color:#176288;}
.boxB {background:#176288;}
.boxB h3 {color:#fff;}
.questions-count {color:#176288;}
#ft {background-color:#176288; color:#fff;}
#ft a {color:#fff;}