@charset "UTF-8";
/* CSS Document */
#navigation li { display:inline;float:right !important;}
#user-nav {margin:0; float:right; color:#fff; }
#user-nav li {display: inline; padding: 0; margin: 0; }
#user-nav li a {color:#fff; font-weight:600;}


#button {width:270px; height:50px; background-color:#000000; padding: 5px 1px 1px 1px;}
#button p {color:#FFFFFF; font-size:20px; text-align:center; font-weight:800; margin-bottom:1px;}
#button h6 {text-align:center; color:#CCCCCC; font-size:10px; }

#test p {border:5px solid #CCCCCC;}
#test p:hover {border:5px solid #999999;}

.new { background:#FF0000; color:#FFFFFF; font-weight:600; font-size:9px; padding-left:2px; padding-right:2px}

.comment { margin-left: 50px; }

ul#facts li {margin-bottom:3px; color:#009933;}

table#thumb {width:200px; border-spacing:3px; border:1px; border-color:#CCCCCC;}

#related-search {margin:0; float:left; margin-bottom:1em; }
#related-search li {display:inline;}
#related-search li a { font-weight:600; color:#0854C7;}
.block .hed { background-color: #333; padding-left:0.5em; padding-bottom:0.5em; padding-top:0.3em;}
.block .hed h5 { font-size:120%; color: #FFFFFF; font-weight:700;}
.block ol {list-style:decimal;}

/* Scrapbook table rules */
table.nocolor, table.nocolor tr, table.nocolor td {
}
table#tasktable td, table#tasktable th {
padding:5px;
}
table#tasktable th {
background-color:#000000;
color:#FFFFFF;
text-align:left;
}
table#tasktable tr.row1 {
background-color:#FFFFFF;
}
table#tasktable tr.row2 {
background-color:#C0C0C0;
}
.minor {
font-size:0.8em;
font-style:italic;
}
table#tasktable a {
text-decoration:none;
}

/* End of scrapbook table rules */

#padding {padding:20px;}

.pseudo-footer {float:right; padding:0.5em 1em; color:#262626;}
.footer-navigation {float:left; margin-top:1em;}
.footer-navigation li {display: inline; }
.footer-navigation li a { font-weight:600; }


.questions {font-size:130%; color:#000000; font-weight:700;}

.block table.plans {background-color:#FFFFFF; border:5px solid #999999;}
.block table.plans td {background:#FFFFFF; height:280px;}
.block .plans td#higlighted {border:5px solid #009933; height: 300px;}
.block ul.plans { list-style-image:url(file:///Macintosh%20HD/Users/premis/Desktop/user_site/images/checkmark.gif); text-align:center; font-size:16px}
.block .plans ul li { list-style-image:url(file:///Macintosh%20HD/Users/premis/Desktop/user_site/images/checkmark.gif); text-align:center; font-size:16px; list-style-position:inside;}

.block .plans li#negative {list-style-image:url(file:///Macintosh%20HD/Users/premis/Desktop/user_site/images/icon_x.gif);}

.table-font {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:110%;}
.big { font-size:140%; font-family:"Garamond Premr Pro", Arial, sans-serif; font-style:italic; color:#333333;}

#owner-nav { float:right; margin: 5px 0 0 0; color:#ffffff; clear:both;}















