*.stamp
python-openid*
django-authopenid
html5lib
django-mptt
django-page-cms
django-piston
django-profiles
django-registration
django-rosetta
django-sso
django-tagging
django-contact-form
sorl-thumbnail
python-dateutil*
django-autoslug*
south
