{% load compressed %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    {% compressed_css 'all' %}
    {% block head %}
    {% endblock %}
 </head>
  <body>
    <div style="font-size: large;">
      <a href="/">main</a>
      | <a href="/admin/">admin</a>
      {% if user.is_authenticated %}
      | <em>{{user}}</em> [<a href="{% url user_signout %}">logout</a>]
      {% else %}
      | <a href="{% url user_signin %}">log in</a>
      {% endif %}
    </div>
    {% block body %} Body {% endblock %}

    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
