{% load compressed %}
{% load class_if_reverse %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    {% compressed_css 'all' %}
    {% block head %}
    {% endblock %}
 </head>
  <body class="rounded">
    <div id="doc3" class="yui-t6">
      <div id="hd">
        {% if user.is_authenticated %}
        <div id="logged-in-user">
          Logged in: <a href="#">{{user}}</a>
        </div>
        {% endif %}
        <h1><a href="/">CrowdSense Project Kit</a></h1>
        <div id="navigation">
          <ul id="primary-navigation">
            <li{% class_if_reverse subscription_list active %}><a href="{% url subscription_list %}">Available subscriptions</a></li>
            <li{% class_if_reverse profiles_profile_list active %}><a href="{% url profiles_profile_list %}">Public profiles</a></li>
            <li{% class_if_reverse contact_form active %}><a href="{% url contact_form %}">Contact us</a></li>
            <li{% class_if_reverse notification_notices active %}><a href="{% url notification_notices %}">Dashboard</a></li>
         </ul>

          <ul id="user-navigation">
            {% if user.is_authenticated %}
           {% if user.get_profile %}
            <li><a href="{% url profiles_edit_profile %}">profile</a></li>
            {% else %}
            <li><a href="{% url profiles_create_profile %}">profile</a></li>
            {% endif %}
            <li><a href="{% url auth_password_change %}">password</a></li>
            {% if not user.muaccount %}
            <li><a href="{% url muaccounts.views.create_account %}">create site</a></li>
            {% else %}
            <li><a href="{% url sso %}?next={{user.muaccount.get_absolute_url}}">your site</a></li>
            {% endif %}
            <li><a href="{% url user_signout %}">logout</a></li>
            {% else %}
            <li><a href="{% url user_signin %}">log in or sign up</a></li>
            {% endif %}
         </ul>
        </div>
      </div>

      <div id="bd">
        {% block body %} Body {% endblock %}
      </div>

      <div id="ft"><div id="yui-main">
        <p><a href="/admin/">admin</a></p>
      </div></div>

    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
