{% extends "account_tmpl.html" %}
{% load i18n %}

{% block title %}{% trans "Dissociate OpenID" %} {% endblock %} 
{% block body %}
<h2>{% trans "Dissociate OpenID" %}</h2>
{% if msg %}
	<p class="warning">{{ msg }}</p>
{% endif %}

<div class="login">

<p> 
<a href="{% url profiles_edit_profile %}">{% trans "Manage Profile" %}</a> | 
<a href ="{% url auth_password_change %}">{% trans "Passwords" %}</a> |
<a href ="{% url user_associate %}">{% trans "Associate OpenID" %}</a> |
<a href ="{% url user_dissociate %}">{% trans "Dissociate OpenID" %}</a> 
</p>
<hr/>

<form name="fopenid" action="" method="post">
    <input type="hidden" name="next" value="{{ next }}" />
	{{ form.openid_url }}
	<fieldset>
		<legend>{% trans "Dissociate OpenID URL" %}</legend>
        <p>{% blocktrans %}Confirm to dissociate {{ openid_url }} from your account{% endblocktrans %}</p>
        <div class="submit-row "><input name="bdissociate" type="submit" value="{% trans "Dissociate OpenID" %}"></div>
		
	</fieldset>
</form>	
</div>	
{% endblock %}
