{% extends "account_tmpl.html" %}
{% load i18n uni_form_tags %}

{% block head_title %}{{block.super}} : {% if set_password %}{% trans 'Set password or Open ID' %}
  {% else %} {% trans 'Change password or Open ID' %} {% endif %} {% endblock %} 

{% block content %}

  {% if set_password %}

  <div class="saaskit-block">
    <h3>{% trans 'Set password' %}</h3>
      <div class="saaskit-content">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post" class="uniForm">
	      <fieldset class="inlineLabels">
          <div class="ctrlHolder ">
            {{ form.new_password1.errors }}
              <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label></p>
            {{ form.new_password1 }}
          </div>
          <div class="ctrlHolder ">
            {{ form.new_password2.errors }}
              <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label></p>
            {{ form.new_password2 }}
          </div>
          </fieldset>
	      <div class="buttonHolder">
	        <button class="button" type="submit">
	          <img src="{{ MEDIA_URL }}saaskit/img/icons/key.png" alt="Set password" />{% trans 'Set my password' %}
	        </button>        
    	    <div class="clear"></div>
	      </div>
        </form>
      </div>
  </div>

  {% else %}

  <div class="saaskit-block">
    <h3>{% trans 'Change password' %}</h3>
      <div class="saaskit-content">
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post" class="uniForm">
	      <fieldset class="inlineLabels">
          <div class="ctrlHolder ">
	        {{ form.old_password.errors }}
   	          <label for="id_old_password">{% trans 'Old password:' %}</label>
            {{ form.old_password }}
          </div>
          <div class="ctrlHolder ">
            {{ form.new_password1.errors }}
              <label for="id_new_password1">{% trans 'New password:' %}</label>
            {{ form.new_password1 }}
          </div>
          <div class="ctrlHolder ">    
            {{ form.new_password2.errors }}
              <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {{ form.new_password2 }}
          </div>
          </fieldset>
		  <div class="buttonHolder">
		    <button class="button" type="submit">
		      <img src="{{ MEDIA_URL }}saaskit/img/icons/key.png" alt="Change password" />{% trans 'Change my password' %}
		    </button>        
        	<div class="clear"></div>
    	  </div>
        </form>
        <hr/>
    	<h3>{% trans 'Associate other OpenID' %}</h3>
        <ul>
	    {% for a in user.userassociation_set.all %}
	      <li>{{a.openid_url}} [<a href="{% url user_dissociate %}?openid_url={{a.openid_url}}">{% trans "dissociate" %}</a>]</li>
	    {% endfor %}
		<a id="openid_reset_link" href="{% url user_associate %}">{% trans "Associate other OpenID" %}</a>
		<form id="openid_reset_form" method="post" action="" class="uniForm" style="display:none;">
		    <input type="hidden" name="action" value="verify" />
		    <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend>{% trans "Add a new OpenID URL" %}</legend>
				<div id="openid_choice">
		    		<p>{% trans "Please click your account provider" %}:</p>
		    		<div id="openid_btns"></div>
		    	</div>
		    	<div id="openid_input_area">
		            <label for="id_openid_url">{% trans "OpenId URL :" %}</label><br />{{ form.openid_url }}
		            <input name="openid_submit" type="submit" value="{% trans 'Add OpenID' %}">
				</div>
			</fieldset>

		  <div class="buttonHolder">
		    <input type="submit" name="{{ openid_reset_action }}" value="{% trans "Associate other OpenID" %}" />
		  </div>
		</form>
    </ul>
    </div>
  </div>

{% endif %}

{% endblock %}

{% block extra_js %}
{{block.super}}

<script type="text/javascript">
$(document).ready(function() {
    //openid form show/hide
    if ( $('#openid_reset_form .ctrlHolder').is('.error') )
    	$('#openid_reset_form').show();
     
    $('#openid_reset_link').click(function() {
    	  $('#openid_reset_form').toggle("slow");
        return false;
    });
});
</script>
{% endblock %}
