{% extends "ref_base.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block body %}
<h2>{% trans "Sign in" %}</h2>
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}

<h2>{% trans "Make a choice" %}:</h2>
<p> 
  <a href="{% url registration_register %}?redirect_to={{ next }}&muaccount={{ request.REQUEST.muaccount }}">{% trans "Register" %}</a>
  | <a href="{% url auth_password_reset %}">{% trans "Reset password" %}</a>
</p>
<div class="login">
    
  <form class="uniForm" action="{% url user_signin %}" method="post">
    <fieldset class="inlineLabels">
      <legend>{% trans "Sign In Using Your Account ID" %}</legend>
      {{ form2|as_uni_form }}
      <div class="buttonHolder">
        <input type="submit" name="blogin" value="{% trans 'Sign in' %}" />
      </div>
    </fieldset>
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="hidden" name="muaccount" value="{{ request.REQUEST.muaccount }}" />
  </form>
    
  <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
      <input type="hidden" name="action" value="verify" />
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="muaccount" value="{{ request.REQUEST.muaccount }}" />
  	<fieldset>
  		<legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
  		  <div id="openid_choice">
      		<p>{% trans "Please click your account provider:"%}</p>
      		<div id="openid_btns"></div>
      	</div>
  	    <div id="openid_input_area">
          <label for="id_openid_url">{% trans "OpenId URL :" %}</label>{{ form1.openid_url }}
          <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}">
        </div>
  	</fieldset>
  </form>	
</div>	
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}saaskit/auth/js/openid-jquery.js"></script>
<script type="text/javascript">
openid.img_path = "{{ MEDIA_URL }}saaskit/auth/images/";
$(document).ready(function() {
    openid.init('id_openid_url');
});
</script>
<!-- /Simple OpenID Selector -->
{% endblock %}
