{% extends "main.html" %}
{% block title %}Manage your account{% endblock %} 

{% block body %}
  <div class="block">
    <div class="bd">
     <h2>{% block content_title %}{{ title }}{% endblock %}</h2>
     {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
      <div class="bd">
         <h2><a href="{% url account_dashboard %}">Dashboard</a></h2>
         <h2><a href="{% url profiles_edit_profile %}">Profile</a></h2>
         <h2><a href ="{% url auth_password_change %}">Password Settings</a></h2>
         <h2><a href="{% url subscription_list %}">Plans and Payments</a></h2>
         <h2><a href="{% url account_invoice %}">Invoice History</a></h2>
      </div>
    </div>
{% endblock %}









