{% extends "main.html" %}
{% load uni_form %}

{% block title %}My pipes{% endblock %}
{% block body %}

<div class="block">
  <div class="hd"><h2>Configured pipes</h2></div>
  <div class="bd">
    <ul class="list">{% for pipe in instances %}
      <li>{{pipe}}
        <form action="{% url pipeadmin_edit_pipe object_id=pipe.pk %}"
              method="GET" style="display:inline;">
          <input type="submit" value="edit">
        </form>
        <form action="{% url pipeadmin_delete_pipe %}" method="POST"
              style="display:inline;">
          <input type="hidden" name="id" value="{{pipe.id}}">
          <input type="submit" value="delete"></form>
      </li>
      {% endfor %}</ul>
</div></div>

<div class="block">
  <div class="hd"><h2>Add new pipe</h2></div>
  <div class="bd">
    <form action="{% url pipeadmin_add_pipe %}" method="GET" class="uniForm">
       {{class_form|as_uni_form}}
        <input type="submit" value="Add">
    </form>
</div></div>
{% endblock %}
