{% extends "prepaid/prepaid_base.html" %}
{% load i18n %}

{% block head_title %}{{ block.super }} : {% trans "Bounty Points" %}{% endblock %}

{% block content %}
<div class="saaskit-block">
  <h3>{% trans "Buy points" %}</h3>
    <div class="saaskit-block-menu">

    <div class="saaskit-block-content">
		<p>You have <b>{{ points }}</b> point{{ points|pluralize }}.<br />
		It may take a moment for newly purchased points to appear.<br />
		<a href="javascript:location.href = location.href">Click here to refresh.</a></p>
		<br /><br />

		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
			{{ point_form.cmd }}
			{{ point_form.custom }}
			{{ point_form.amount }}
			{{ point_form.currency_code }}
			{{ point_form.no_shipping }}
			{{ point_form.charset }}
			{{ point_form.business }}
			{{ point_form.item_name }}
			{{ point_form.item_number }}
			{{ point_form.notify_url }}
			{{ point_form.cancel_return }}
			{{ point_form.return_url }}
			<input id="option-name" type="hidden" name="on0" value="Points" />
			Get Points: <select name="os0">
				{% for points, price in packs %}
				<option value="{{ points }}">{{ points }} Points - ${{ price }}</option>
				{% endfor %}
			</select>
			{% for points, price in packs %}
			<input type="hidden" name="option_select{{ forloop.counter0 }}" value="{{ points }}">
			<input type="hidden" name="option_amount{{ forloop.counter0 }}" value="{{ price }}">
			{% endfor %}
			<input type="submit" value="Purchase" />
		</form>

		<br /><br />
		{% for q, form in forms %}
			<p>Buy <b>{{ q }}</b> point{{ q|pluralize }}<br />
				{{ form.render }}
				<br /><br />
			</p>
		{% endfor %}
    </div>
</div>
</div>

{% endblock %}
