{% load compressed %}
{% load class_if_reverse %}
{% load settings %}
{% load thumbnail %}
{% load muathemes %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="/media/saaskit/css/user_sites.css" type="text/css">
    {% compressed_css request.muaccount.theme.color_scheme %}
    {% block head %}
    {% endblock %}
 </head>
  <body class="{% theme rounded_corners %}">
    <div id="{% theme page_width %}" class="{% theme layout %}">
      <div id="hd">
        {% if request.muaccount.logo %}
        <img src="{% thumbnail request.muaccount.logo 128x64 %}" id="site-logo">
        {% endif %}
        {% if user.is_authenticated %}
        <div id="user-nav">
          <ul id="user-nav">
          <li>Hi, <b>{{user}}<b></li> | 
            
            {% ifequal user request.muaccount.owner %}
            <li><a href="{% url muaccounts_account_detail %}">Manage</a></li> | 
            
            {% endifequal %}
            <li><a href="">Account</a></li> | 
            <li><a href="{% url user_signout %}">Sign-out</a></li> 
            </ul>
        </div>  
          {% else %}
         <div id="user-nav">
          <ul id="user-nav">
            <li><a href="{% url user_signin %}">Log in or Sign up</a></li>
          </ul>
        </div>
         
        
        {% endif %}
        <h2><a href="/">{{request.muaccount}}</a></h2>
        <div id="navigation" style="clear:both;">
          <ul id="primary-navigation">            
            <li{% class_if_reverse / active %}><a href="/">Main</a></li>
          </ul>
         
       </div>
     </div>

      <div id="bd">
        <div id="yui-main"><div class="yui-b"><div class="yui-g">
              {% block body %}{% endblock %}
        </div></div></div>
         <div id="sidebar" class="yui-b">
                     {% if not request.muaccount.owner %}
           <div class="block"><div class="hd">
              <h2>This account has no owner</h2>
            </div><div class="bd">
              {% if user.is_authenticated %}
              <form action="{% url muaccounts_claim_account %}"
                    method="POST" class="inline-form">
                <p><input type="submit" value="claim this account"></p></form>
              {% else %}
              If you feel you should manage this account, please
              register at <a href="{% setting MUACCOUNTS_DEFAULT_URL %}">
                main page</a> and <a href="{% url user_signin %}">log
              in here</a> to claim this account.
              {% endif %}
          </div></div>
          {% endif %} 
              {% block sidebar %} {% endblock %}
         </div>
      </div>
      <div id="ft"><div id="yui-main">
	    <div class="footer-navigation">
                <ul>
                    <li><a href="{% setting MUACCOUNTS_DEFAULT_URL %}about">About CrowdSense</a></li> | 
                    <li><a href="{% setting MUACCOUNTS_DEFAULT_URL %}support">Support</a></li> | 
                    <li><a href="{% setting MUACCOUNTS_DEFAULT_URL %}contact">Contact us</a></li>
                </ul>
            </div>
            <div class="pseudo-footer">
                    <li><a href="{% setting MUACCOUNTS_DEFAULT_URL %}privacy" style="font-weight: 600;">Privacy & Copyright</a></li>
            </div>
      </div>
  </div>

    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
  </body>
</html>


