{% extends "main.html" %}
{% block title %}Manage your site{% endblock %} 
{% block body %}
  <div class="block">
    <div class="bd">
     <h2>Users</h2>
            <table border="0" id="tasktable" style="max-width:600px;">
               {% for member in object.members.all %}
                  <tr class="{% cycle 'row1' 'row2' %}>
                    <td>{{ member }}</td>
                    <td><form class="inline-form" method="POST" action="{% url muaccounts_remove_member user_id=member.id %}">
                        <input type="submit" value="remove user"></form></td>
                  </tr>
               {% endfor %}
            </table>
            
            <table border="0" id="tasktable" style="max-width:600px;">
               
                  <tr class="row1">
                    <td>test1</td>
                    <td><form class="inline-form" method="POST" action="">
                        <input type="submit" value="remove user"></form></td>
                  </tr>
                  <tr class="row2">
                    <td>test2</td>
                    <td><form class="inline-form" method="POST" action="">
                        <input type="submit" value="remove user"></form></td>
                  </tr>
               
            </table>
<h2>More stuff</h2>
<h4>  - The above form will be bit more intuative i.e. exposing users details if any </h4>
<h4>  - We can manually add user please see it under the old manage site link at the top</h4>
<h4>  - django-friends gets integrated here </h4>

</div></div>

{% endblock %}
{% block sidebar %}

  <div class="block">
      <div class="bd">
         <h2><a href="/extend/general">General Settings</a></h2>
         <h2><a href="/extend/themes">Colors & Styles</a></h2>
         <h2><a href="/extend/users">Users</a></h2>
         <h2><a href="/extend/advanced">Advanced Settings</a></h2>
         <h2><a href="/extend/apps">Applications Settings</a></h2> 
      </div>
    </div>
 
  
{% endblock %}












