{% extends "main.html" %}
{% block title %}Manage your site{% endblock %} 
{% block body %}
  <div class="block">
    <div class="bd">
     <h2>Application Settings</h2>
            <table border="0" id="tasktable" style="max-width:600px;">
               
               <thead>
               <tr>
                 <td>Invoice Date</td>
                 <td>Receipt</td>
                 <td>Amount</td>
                 <td>Status</td>
               </tr></thead>
               
               <tbody>
                  <tr class="row1">
                    <td>2009-10-01</td>
                    <td>xxxxxxx</td>
                    <td>$13</td>
                    <td>Pending</td>
                  </tr>
                  
                 <tr class="row2">
                    <td>2009-10-02</td>
                    <td>xxxxxxx</td>
                    <td>$11</td>
                    <td>Pending</td>
                  </tr>
               </tbody>
            </table>
</div></div>
{% endblock %}
{% block sidebar %}

  <div class="block">
      <div class="bd">
         <h2><a href="/extend/general">General Settings</a></h2>
         <h2><a href="/extend/themes">Colors & Styles</a></h2>
         <h2><a href="/extend/users">Users</a></h2>
         <h2><a href="/extend/advanced">Advanced Settings</a></h2>
         <h2><a href="/extend/apps">Applications Settings</a></h2> 
      </div>
    </div>
 
  
{% endblock %}






